.rule {
    width: 100%;
    text-align: center;
    font-size: .75rem;
    color: #3b99da;
    position: fixed;
    bottom: 5%;
}
.rule span {
    color: #3b99da;
    margin-right: 5px;
    margin-left: 5px;
}
.mT {
    margin-top: 44px;
}
.recharge_warp {
    width: 100%;
    font-size: 16px;
    overflow: auto;
    background: #f7f7f7;
}
.recharge_warp .recharge_top {
    width: 100%;
    height: 44px;
    line-height: 44px;
    z-index: 3;
    background: #f7f7f7;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    text-align: center;
    position: fixed;
}
.recharge_warp .recharge_top .end {
    width: 12px;
    height: 21px;
    background-size: cover;
    background-image: url(../images/store/end.png);
    position: absolute;
    top: 11px;
    left: 12px;
}
.recharge_warp .refuelingCard_cardArea {
    width: 90%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    padding: 10px 5%;
    font-size: .75rem;
    color: #ccc;
    position: relative;
}
.recharge_warp .refuelingCard_cardArea .refuelingCard_cardImg {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 5px;
    margin-right: 20px;
    background-color: #eeeeee;
    background-size: cover;
}
.recharge_warp .refuelingCard_cardArea span {
    display: block;
}
.recharge_warp .refuelingCard_cardArea span:nth-child(2) {
    font-size: 16px;
    color: #333;
}
.recharge_warp .refuelingCard_cardArea span:nth-child(3) {
    margin-top: 6px;
}
.recharge_warp .refuelingCard_cardArea .start {
    width: 12px;
    height: 21px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/recharge/start.png);
    position: absolute;
    top: 21px;
    right: 12px;
}
.recharge_warp .phoneArea {
    width: 100%;
    height: 35px;
    font-size: 1.875rem;
    position: relative;
    line-height: 30px;
}
.recharge_warp .phoneArea .user {
    width: 20px;
    position: absolute;
    height: 20px;
    top: 8px;
    right: 4%;
    background-size: cover;
    background-image: url("../images/recharge/user.png");
}
.recharge_warp .phoneArea .del {
    background-image: url("../images/recharge/del.png");
}
.recharge_warp .phoneArea input {
    font-size: 30px;
    width: 100%;
    border: 0;
    margin-bottom: 2px;
    line-height: 35px;
    background: none;
}
.recharge_warp .voucherCenter_telephoneArea {
    width: 100%;
    /*height: 228px;*/
    margin-top: 10px;
    padding-bottom: 5%;
}
.recharge_warp .voucherCenter_telephoneArea span {
    display: block;
}
.recharge_warp .voucherCenter_telephoneArea .voucherCenter_Area {
    width: 32%;
    height: 60px;
    margin-bottom: 10px;
    font-size: .875rem;
    color: #3b99da;
    text-align: center;
    display: inline-block;
}
.recharge_warp .voucherCenter_telephoneArea .voucherCenter_Area .telephoneFare {
    width: 90%;
    border-radius: 5px;
    height: 60px;
    margin: 0 auto;
    font-size: .75rem;
    color: #3B99DA ;
    border: 1px solid #3b99da;
}
.recharge_warp .voucherCenter_telephoneArea .voucherCenter_Area .telephoneFare span {
    color: #3B99DA ;
}
.recharge_warp .voucherCenter_telephoneArea .voucherCenter_Area .telephoneFare span:nth-child(1) {
    margin-top: 8px;
    font-size: .875rem;
    margin-bottom: 5px;
}
.recharge_warp .voucherCenter_telephoneArea .voucherCenter_Area .forbidden {
    border: 1px solid #cccccc;
    color: #cccccc;
}
.recharge_warp .voucherCenter_telephoneArea .voucherCenter_Area .forbidden span {
    color: #cccccc;
}
.recharge_warp .voucherCenter_telephoneArea .voucherCenter_Area .rSelected {
    background: #3b99da;
    color: #fff;
}
.recharge_warp .voucherCenter_telephoneArea .voucherCenter_Area .rSelected span {
    color: #fff;
}
.recharge_warp .voucherCenter_telephoneArea .voucherCenter_recharge {
    width: 25%;
    height: 50px;
    font-size: .75rem;
    text-align: center;
    display: inline-block;
}
.recharge_warp .voucherCenter_telephoneArea .voucherCenter_recharge .flux {
    width: 20px;
    height: 22px;
    margin: 5px auto;
    background-size: 20px 22px;
}
.recharge_warp .voucherCenter_telephoneArea .voucherCenter_recharge .fuel {
    width: 34px;
    height: 22px;
    margin: 5px auto;
    background-size: 34px 20px;
}
.recharge_warp .voucherCenter_phoneArea {
    width: 90%;
    height: 46px;
    padding: 25px 5%;
    border-bottom: 1px solid #eee;
}
.recharge_warp .voucherCenter_phoneArea span:nth-child(2) {
    font-size: .75rem;
    color: #ccc;
}
.recharge_warp .voucherCenter_exchangeArea {
    width: 90%;
    /*height: 248px;*/
    font-size: .875rem;
    padding: 20px 5% 0 5%;
}
.recharge_warp .movieRecharge_nav {
    width: 99%;
    height: 50px;
}
.recharge_warp .contacts_nav {
    background-color: #ccc;
    width: 99.9%;
}
.recharge_warp .movieRecharge_nav input {
    width: 90%;
    height: 30px;
    border: 1px solid #cccccc;
    font-size: 12px;
    color: #666;
    text-align: center;
    border-radius: 3px;
    margin: 10px 5%;
    background-image: url("../images/index/rake.png");
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 5px;
    outline: none;
}
.recharge_warp .contacts_nav input {
    border-radius: 5px;
    border: 0;
    color: #CCCCCC;
    background-position: 32% 8px;
    margin-top: 11px;
}
.recharge_warp .movieRecharge_rechargeArea {
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #ccc;
}
.recharge_warp .movieRecharge_rechargeArea .movieRecharge_rechargeTitle {
    width: 95%;
    padding-left: 5%;
    height: 32px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 32px;
    background-color: #eee;
}
.recharge_warp .movieRecharge_rechargeArea .contactsTitle {
    height: 20px;
    font-size: .75rem;
    line-height: 20px;
}
.recharge_warp .movieRecharge_rechargeArea .movieRecharge_rechargeContent {
    width: 95%;
    margin-left: 5%;
    height: 34px;
    border-bottom: 1px solid #ccc;
    line-height: 34px;
}
.recharge_warp .movieRecharge_rechargeArea .movieRecharge_rechargeContent:nth-last-child(1) {
    border-bottom: 0;
}
.recharge_warp .movieRecharge_rechargeArea .movieRecharge_Ranking {
    width: 15px;
    overflow: auto;
    position: fixed;
    top: 90px;
    text-align: center;
    right: 20px;
}
.recharge_warp .movieRecharge_rechargeArea .contactRanking {
    font-size: .9375rem;
    top: 198px;
}

.recharge_warp .movieRecharge_rechargeArea .contactRanking a {
    font-size: .9375rem;
    color: #666;
}

.recharge_warp .videoRechargeDetails_header {
    width: 95%;
    height: 56px;
    padding: 15px 5%;
    border-bottom: 1px solid #cccccc;
    font-size: .75rem;
    color: #ccc;
}
.recharge_warp .videoRechargeDetails_header span:nth-child(1) {
    font-size: 12px;
    color: #ccc;
    display: block;
    margin-bottom: 15px;
}
.recharge_warp .videoRechargeDetails_explain {
    width: 94%;
    position: relative;
    height: 158px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px #ccc solid;
}
.recharge_warp .videoRechargeDetails_explain .illustrate {
    width: 80px;
    height: 28px;
    font-size: 1.125rem;
    background: #fff;
    position: absolute;
    text-align: center;
    line-height: 28px;
    top: -14px;
    left: 14px;
}
.recharge_warp .videoRechargeDetails_paintcoat {
    width: 95%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 50px;
    background: #ccc;
}
.recharge_warp .details_Fill {
    width: 100%;
    height: 158px;
    background: #fff;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}
.recharge_warp .details_Fill .details_fillTxt {
    width: 92%;
    margin-left: 8%;
    height: 52px;
    font-size: .875rem;
    line-height: 50px;
    border-bottom: 1px #eeeeee solid;
}
.recharge_warp .details_Fill .details_fillTxt .script {
    width: 18%;
    float: left;
    height: 100%;
}
.recharge_warp .details_Fill .details_fillTxt input {
    border: 0;
    outline: none;
    width: 75%;
    padding-left: 2%;
    height: 90%;
}
.recharge_warp .details_Fill .personalStores_fillTxt {
    width: 97%;
    margin-left: 3%;
}
.recharge_warp .details_amountArea {
    width: 100%;
    font-size: .875rem;
    margin-top: 20px;
    height: 204px;
    text-align: center;
}
.recharge_warp .details_amountArea .details_amountAreaTxt {
    width: 84%;
    height: 50px;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 50px;
}
.recharge_warp .details_amountArea .details_amountAreaTxt .down {
    background-size: 16px 10px;
    width: 20px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/recharge/below.png");
}
.recharge_warp .details_amountArea .conceal {
    visibility: hidden;
}
.recharge_warp .details_Btn {
    width: 94%;
    margin: 74px auto;
    height: 40px;
    font-size: 1.125rem;
    color: #fff;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    background: #007cc3;
}
.recharge_warp .entertainment_area {
    color: #666;
}
.recharge_warp .entertainment_area .hotEntertainment {
    height: 50px;
    width: 100%;
    line-height: 50px;
}
.recharge_warp .entertainment_area .hotPic {
    height: 70px;
}
.recharge_warp .entertainment_area .hotPicEntertainment {
    width: 32%;
    background-color: #CCCCCC;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 3px;
    display: inline-block;
}
