
    <div class="setUp_warp">
        <div class="setUp_top">
            <div class="end" onclick="backPage()"></div>关于
        </div>
        <div class="about_head mT"></div>
        <div class="area_aside">
            <div class="displayBox breadth">
                <span>版本说明</span>
                <div class="quite about_hT warp_Rg"></div>
            </div>
            <div class="displayBox breadth ">
                <span>反馈</span>
                <div class="quite about_hT warp_Rg"></div>
            </div>
            <div class="displayBox breadth">
                <span>版权信息</span>
                <div class="quite about_hT warp_Rg"></div>
            </div>
        </div>
    </div>
