	<div class="position" style="height: 44px;"></div>

	<div class="top">
		<div class="return" onclick="backPage()"></div>
		我的话单
	</div>

	<div class="time">
	    <div class="start fL">
	        <input type="text" id="J-xlo" placeholder="日期">
	    </div>	
	    <p class="fL">至</p>
	    <div class="end fL">
	        <input type="text" id="J-xlt" placeholder="日期">
	    </div>	

	    <div class="find fR"></div>
	</div>

	<div class="callLogRecord">

		<div class="list">
			<div class="lTop">
				<span class="fL">13385815282</span>
				<span class="fR">10金豆</span>
			</div>
			<div class="lBot">
				<span class="fL">2017-03-27  17:45:55</span>
				<span class="fR">40分30秒</span>
			</div>
		</div>

		<div class="list">
			<div class="lTop">
				<span class="fL">13385815282</span>
				<span class="fR">10金豆</span>
			</div>
			<div class="lBot">
				<span class="fL">2017-03-27  17:45:55</span>
				<span class="fR">40分30秒</span>
			</div>
		</div>

		<div class="list">
			<div class="lTop">
				<span class="fL">13385815282</span>
				<span class="fR">10金豆</span>
			</div>
			<div class="lBot">
				<span class="fL">2017-03-27  17:45:55</span>
				<span class="fR">40分30秒</span>
			</div>
		</div>

		<div class="list">
			<div class="lTop">
				<span class="fL">13385815282</span>
				<span class="fR">10金豆</span>
			</div>
			<div class="lBot">
				<span class="fL">2017-03-27  17:45:55</span>
				<span class="fR">40分30秒</span>
			</div>
		</div>
	</div>


    <!--<script type="text/javascript" src="js/tool/calendar/laydate.dev.js"></script>-->
	<!--<script type="text/javascript" src="js/tool/jquery-1.11.3.min.js"></script>-->
    <!--<script type="text/javascript">-->

    	<!--// 日期开始-->
        <!--laydate({-->

            <!--elem: '#J-xlo'-->

        <!--});-->
         <!--// 日期结束-->
        <!--laydate({-->

            <!--elem: '#J-xlt'-->

        <!--});-->
        <!--//改变日历位置-->
        <!--$('#J-xlt').click(function(){-->
        	<!--$('#laydate_box').css("left","45px");-->
        <!--})-->



        <!--$('.find').click(function(){-->
         	<!--var start = $('.start input').val();-->
        	<!--var end  = $('.end input').val();-->
        	<!--if(start == "" || end == ""){-->
        		<!--alert("请选着日期");-->
        		<!--return;-->
        	<!--}-->

        	<!--alert(start);-->
        <!--})-->
    <!--</script>-->
