
<div class="position" style="height: 44px;"></div>
     <div class="top dsTtop">
        <div class="return" onclick="backPage()"></div>
        拨号设置
    </div>

    <div class="setType">

        <div class="tppList">自动选择免费电话、直拨、回拨
            <!--<div class="choose"></div>-->
        </div>

        <div class="tppList">手动选择免费电话、直拨、回拨
            <div class="choose"></div>
        </div>

        <div class="tppList">仅使用免费电话
            <!--<div class="choose"></div>-->
        </div>

        <div class="tppList">仅使用直拨
            <!--<div class="choose"></div>-->
        </div>

        <div class="tppList">仅使用回拨
            <!--<div class="choose"></div>-->
        </div>

    </div>

   <div class="warmReminder">
        <div class="title">温馨提醒：</div>
       <div class="dsContent">
            <p>1、为保证通话质量，2G下请选择回拨方式</p>
           <p>2、回拨需要先接听一下系统来电（可能陌生号，可放心接听），接听后再接通对方</p>
       </div>
   </div>
