	<!-- 头部 -->
	<div class="dHead">
		<div class="h_in">
			<div class="number" id="number"></div>
			<div class="region" style="display: none;">浙江杭州电信</div>
		</div>
	</div>

	<!-- 号码筛选 -->
	<div class="numberScreen">
		<div class="ns_in">
			<div class="userLogo fL">
				<img src="images/dial/logo.png">
			</div>
			<div class="user fL">
				<div class="name">姓名</div>
				<div class="userNumber">
					<div class="un fL">15157809520</div>
					<div class="ur fL">浙江杭州电信</div>
				</div>
			</div>
			<div class="getInto fR"></div>
		</div>

		<div class="ns_in">
			<div class="userLogo fL">
				<img src="images/dial/logo.png">
			</div>
			<div class="user fL">
				<div class="name">姓名</div>
				<div class="userNumber">
					<div class="un fL">15157809520</div>
					<div class="ur fL">浙江杭州电信</div>
				</div>
			</div>
			<div class="getInto fR"></div>
		</div>

		<div class="ns_in">
			<div class="userLogo fL">
				<img src="images/dial/logo.png">
			</div>
			<div class="user fL">
				<div class="name">姓名</div>
				<div class="userNumber">
					<div class="un fL">15157809520</div>
					<div class="ur fL">浙江杭州电信</div>
				</div>
			</div>
			<div class="getInto fR"></div>
		</div>

	</div>

	<!-- 键盘 -->
	<div class="keyboard">
		<div class="number">
			<div class="number_in">
				<div class="nI">1</div>
			</div>
			<div class="number_in">
				<div class="nI">2</div>
				<div class="letter">abc</div>
			</div>
			<div class="number_in">
				<div class="nI">3</div>
				<div class="letter">abc</div>
			</div>
			<div class="number_in">
				<div class="nI">4</div>
				<div class="letter">abc</div>
			</div>
			<div class="number_in">
				<div class="nI">5</div>
				<div class="letter">abc</div>
			</div>
			<div class="number_in">
				<div class="nI">6</div>
				<div class="letter">abc</div>
			</div>
			<div class="number_in">
				<div class="nI">7</div>
				<div class="letter">abc</div>
			</div>
			<div class="number_in">
				<div class="nI">8</div>
				<div class="letter">abc</div>
			</div>
			<div class="number_in">
				<div class="nI">9</div>
				<div class="letter">abc</div>
			</div>
			<div class="number_in" style=" line-height: 66px;"><div class="nI">*</div></div>
			<div class="number_in">
				<div class="nI">0</div>
				<div class="letter">abc</div>
			</div>
			<div class="number_in"  style=" line-height: 66px;"><div class="nI">#</div></div>
		</div>






		<div class="dialList">
			<div class="phoneBook fL">拨号</div>
			<div class="dial fL"></div>
			<div class="delete fL">删除</div>
		</div>
	</div>

	<!--<script>-->
		<!--$(function(){-->
		    <!--$(document).on('touchstart','.number_in',function(){-->
		        <!--var result = $(this).find('.nI').text();-->
		        <!--$('#number').append(result);-->
			<!--});-->
            <!--$(document).on('touchstart','.delete',function(){-->
                <!--var numbers = $('#number').text();-->
                <!--var numbers2 = $('#number').text().length;-->
                <!--$('#number').text(numbers.substr(0, numbers2 - 1));-->
            <!--});-->
		<!--});-->
	<!--</script>-->


