
<div class="personal_warp"> 
  <!--头部-->
  <div class="setUp_top">
    <div class="end" onclick="backPage()"></div>
    我</div>
  <!--昵称-->
  <div class="breadth oneself_info" style="margin-top: 54px;">
    <div class="headPortrait warp_Lt"></div>
    <span>昵称</span> <span>账号：1216545646</span>
    <div class="advance warp_Rg"></div>
  </div>
  <!--设置-->
  <div class="oneself_recharge">
    <div class="rechargeArea ui_btn" data-action="goInAccount">
      <div class="fund warp_Lt"> <img src="images/personal/fund.png" alt="" /> <span>我的账户</span> </div>
      <div class="quite warp_Rg" style="background-position: center"></div>
    </div>
    <div class="rechargeArea ui_btn" data-action="goInSet">
      <div class="fund warp_Lt"> <img src="images/personal/install.png" alt="" /> <span>设置</span> </div>
      <div class="quite warp_Rg" style="background-position: center"></div>
    </div>
  </div>
</div>
<!--<footer>-->
  <!--<div class="lib">-->
    <!--<div class="install"> <img src="images/personal/tel.png" alt=""/> <span>拨号</span> </div>-->
  <!--</div>-->
  <!--<div class="lib">-->
    <!--<div class="install"> <img src="images/personal/contacts.png" alt=""/> <span>联系人</span> </div>-->
  <!--</div>-->
  <!--<div class="lib">-->
    <!--<div class="install"> <img src="images/personal/money.png" alt=""/> <span>充值</span> </div>-->
  <!--</div>-->
  <!--<div class="lib">-->
    <!--<div class="install"> <img src="images/personal/peopleHot.png" alt=""/> <span>我</span> </div>-->
  <!--</div>-->
<!--</footer>-->
