<div class="recharge_warp">
  <div class="store_top personal_top">
    <div class="end" onclick="backPage()"></div>
    <span>我的账户</span> <span class="bill warp_Rg ui_btn" data-action="goInBill">账单</span> </div>
  <div class="details_Fill" style="margin-top: 54px;">
    <div class="details_fillTxt">
      <div class="account">账号:</div>
      <div class="substance">13385815282</div>
    </div>
    <div class="details_fillTxt">
      <div class="account">虚拟币:</div>
      <div class="substance">4212 2017-04-29</div>
    </div>
    <div class="details_fillTxt">
      <div class="account">金豆:</div>
      <div class="substance" style="color: #666">200</div>
    </div>
  </div>
  <div class="details_Btn" style="margin-bottom: 0;margin-top: 60px;">续费</div>
  <div class="hint">温馨提醒：虚拟币过期后会清零</div>
</div>
