    <div class="top">
        <div class="return" onclick="backPage()"></div>
        一键拨号设置
    </div>

    <div class="position" style=" height: 44px;"></div>

    <div class="setNumber">

        <div class="numberBox">
            <div class="topNumber">1</div>
            <div class="add"></div>
        </div>

        <div class="numberBox">
            <div class="topNumber">2</div>
            <div class="phone">
                <span>小米</span>
                <span>12345678912</span>
            </div>
        </div>

        <div class="numberBox">
            <div class="topNumber">3</div>
            <div class="phone">
                <span>小米</span>
                <span>12345678912</span>
            </div>
        </div>

        <div class="numberBox">
            <div class="topNumber">4</div>
            <div class="add"></div>
        </div>

        <div class="numberBox">
            <div class="topNumber">5</div>
            <div class="phone">
                <span>小米</span>
                <span>12345678912</span>
            </div>
        </div>

        <div class="numberBox">
            <div class="topNumber">6</div>
            <div class="phone">
                <span>小米</span>
                <span>12345678912</span>
            </div>
        </div>

        <div class="numberBox">
            <div class="topNumber">7</div>
            <div class="add"></div>
        </div>

        <div class="numberBox">
            <div class="topNumber">8</div>
            <div class="phone">
                <span>小米</span>
                <span>12345678912</span>
            </div>
        </div>

        <div class="numberBox">
            <div class="topNumber">9</div>
            <div class="phone">
                <span>小米</span>
                <span>12345678912</span>
            </div>
        </div>
    </div>


    <div class="addMode">
        <div class="modeList ui_btn" data-action="phone">从联系人中选取</div>
        <div class="modeList" id="shoudong">手动输入</div>
        <div class="cancel">取消</div>
    </div>

    <div class="manualInput" style="display: none;">
        <div class="title">请输入电话号码</div>
        <div class="addNumber">
            <div class="box" style="background: #fff;">
                <input type="text" name="name" placeholder="名称" style=""/>
            </div>
            <div class="box" style=" border-top: 0;background: #fff;">
                <input type="text" name="number" placeholder="号码"/>
            </div>
        </div>

        <div class="btnBox">
            <div class="no">取消</div>
            <div class="yes">确定</div>
        </div>
    </div>


    <div class="oksMask" style="display: none;"></div>
    <div class="opacitys"><div></div></div>
    <div class="oksPrompt">点击数字格子，设置一键拨号后，拨打电话时，长按数字键，即可呼叫对应号码</div>
