<div class="recharge_warp" >
  <div class="recharge_top">
    <div class="end" onclick="backPage()"></div>
    充值 </div>
  <div class="voucherCenter_phoneArea mT">
    <div class="phoneArea">
      <input type="number"  class="warp_Lt" placeholder="123 4556 7549"/>
      <div class="user warp_Rg"></div>
    </div>
    <span>默认号码(浙江电信)</span> </div>
  <div class="voucherCenter_exchangeArea"> <span style="margin-bottom: 20px; font-size:.875rem">充金豆</span>
    <div class="voucherCenter_telephoneArea">
      <div class="voucherCenter_Area">
        <div class="telephoneFare forbidden"> <span>50元</span> <span>售价：45.00元</span> </div>
      </div>
      <div class="voucherCenter_Area">
        <div class="telephoneFare"> <span>50元</span> <span>售价：45.00元</span> </div>
      </div>
      <div class="voucherCenter_Area">
        <div class="telephoneFare rSelected"> <span>50元</span> <span>售价：45.00元</span> </div>
      </div>
      <div class="voucherCenter_Area">
        <div class="telephoneFare"> <span>50元</span> <span>售价：45.00元</span> </div>
      </div>
      <div class="voucherCenter_Area">
        <div class="telephoneFare"> <span>50元</span> <span>售价：45.00元</span> </div>
      </div>
      <div class="voucherCenter_Area">
        <div class="telephoneFare"> <span>50元</span> <span>售价：45.00元</span> </div>
      </div>
      <div class="voucherCenter_Area">
        <div class="telephoneFare"> <span>50元</span> <span>售价：45.00元</span> </div>
      </div>
      <div class="voucherCenter_Area">
        <div class="telephoneFare"> <span>50元</span> <span>售价：45.00元</span> </div>
      </div>
      <div class="voucherCenter_Area">
        <div class="telephoneFare"> <span>50元</span> <span>售价：45.00元</span> </div>
      </div>
    </div>
  </div>
  <div class="voucherCenter_exchangeArea"> <span style="font-size: .875rem">充值说明</span>
    <div class="voucherCenter_telephoneArea" style="margin-top: 10px;">
      <p style="color:#ccc;font-size: .75rem;text-indent:28px;margin-bottom: 10px;"> 1、售价：45.00元售价：45.00元售价：45.00元售价：45.0 0元售价：45.00元</p>
      <p style="color:#ccc;font-size: .75rem;text-indent:28px;"> 2、售价：45.00元售价：45.00元售价：45.00元售价：45.0 0元售价：45.00元</p>
    </div>
  </div>
</div>
<!--<footer>-->
  <!--<div class="lib">-->
    <!--<div class="install"> <img src="images/personal/tel.png" alt=""/> <span>拨号</span> </div>-->
  <!--</div>-->
  <!--<div class="lib">-->
    <!--<div class="install"> <img src="images/personal/contacts.png" alt=""/> <span>联系人</span> </div>-->
  <!--</div>-->
  <!--<div class="lib">-->
    <!--<div class="install"> <img src="images/personal/moneyHot.png" alt=""/> <span>充值</span> </div>-->
  <!--</div>-->
  <!--<div class="lib">-->
    <!--<div class="install"> <img src="images/personal/people.png" alt=""/> <span>我</span> </div>-->
  <!--</div>-->
<!--</footer>-->

<!--<script type="text/javascript">-->
    <!--$(document).ready(function(){-->
        <!--$(".telephoneFare").click(function(){-->
            <!--$(this).parent().parent(".voucherCenter_telephoneArea").find(".telephoneFare").removeClass("selected");-->
            <!--$(this).addClass("selected");-->
        <!--});-->
    <!--});-->
<!--</script>-->
