
    <div class="top">
        <div class="return" onclick="backPage()"></div>
        设置
    </div>
    <div class="position" style=" height: 44px;"></div>
    <div class="allSet">

        <div class="type ui_btn" data-action="goInDialSet">
            <span>拨打设置</span>
            <div class="tsGoIn f-fr"></div>
        </div>

        <div class="type  ui_btn" data-action="goInOneKeySet">
            <span>一键拨号设置</span>
            <div class="tsGoIn f-fr"></div>
        </div>

        <div class="type" style="border-bottom: 0px;">
            <span>2G/3G/4G下使用免费电话</span>
            <div class="switch">
                <label>
                    <input type="checkbox" class="psc" name="a"/>
                    <!--<div class="y"></div>-->
                    <span class="spn"></span>
                </label>
            </div>
        </div>

    </div>

    <div class="allSet ui_btn" data-action="goInAbout">
        <div class="type"  style="border-bottom: 0px;">
            <span>关于我们</span>
            <div class="tsGoIn f-fr"></div>
        </div>
    </div>

    <div class="exitBtn">退出</div>

<!--<script>-->

<!--$(function(){-->
    <!--$('.psc').click(function(){-->

        <!--if( $("input[type='checkbox']").is(':checked') ){-->
            <!--var i= 1;-->
        <!--}else{-->
            <!--var i =2;-->
        <!--}-->

    <!--})-->
    <!--var i =1;-->
    <!--if( i == 1){-->
        <!--var items=document.getElementsByName('a');-->
        <!--items[0].checked=true;-->
    <!--}-->
<!--})-->


<!--</script>-->
