
    <div class="siTop">
        <div class="return" onclick="backPage()"></div>
        忘记密码
    </div>
    <!--<a href="tel:18157809280">打电话给:18157809280</a>-->
    <div class="dataBox">

        <div class="rAccount">
            <div class="textBox">
                <div class="l_logo user_Icon"> </div>
                <div class="r_input">
                    <input type="text" placeholder="请输入你的手机号/邮箱" id="account"/>
                </div>
            </div>
            <!--<div class="rePrompt">手机号／邮箱格式错误，请输入正确格式！</div>-->
        </div>

        <div class="rAccount">
            <div style="margin-bottom: 5px">
                <div class="verification">
                    <div class="verificationBox">
                        <input type="text" placeholder="请输入验证码" id="yan"/>
                    </div>
                    <input class="verificationBtn ui_btn" data-action="verificationBtns" id="verify_code" value="发送验证码">
            </div>
            </div>
            <!--<div class="vPrompt">验证码错误，请核对后输入！</div>-->
        </div>


        <div class="rAccount">
            <div class="textBox">
                <div class="l_logo pw_Icon"> </div>
                <div class="r_input">
                    <input type="text" placeholder="请输入密码" id="password"/>
                </div>
            </div>
            <!--<div class="rePrompt" style=" color: #ccc;">密码为6-18数字、字母组合，可含下划线！</div>-->
        </div>

        <div class="rAccount">
            <div class="textBox">
                <div class="l_logo pwT_Icon"> </div>
                <div class="r_input">
                    <input type="text" placeholder="请输入新密码" id="passwords"/>
                </div>
            </div>
            <!--<div class="rePrompt">两次输入密码不一致！</div>-->
        </div>

    </div>

    <div class="registerBtn ui_btn" style="    background-color: rgb(38, 165, 255);" data-action="registerBtns">完成</div>
