
    <div class="siTop">
        <div class="return" onclick="backPage()"></div>
        用户登录
    </div>

    <div class="siHead">
        <div class="pic">
            <img src="images/loging/headT.png" alt=""/>
        </div>
    </div>

    <div class="siDataBox">

        <div class="siAccount">
            <div class="textBox">
                <div class="l_logo user_Icon"> </div>
                <div class="r_input">
                    <input type="text" placeholder="请输入你的手机号/邮箱" id="account"/>
                </div>
            </div>
            <!--<div class="siPrompt">您输入的账号或密码错误</div>-->
        </div>

        <div class="siAccount">
            <div class="textBox">
                <div class="l_logo pw_Icon"> </div>
                <div class="r_input">
                    <input type="password" placeholder="请输入密码" id="password"/>
                </div>
            </div>
        </div>
        <div class="guide">
            <span class="f-fl ui_btn" data-action="goInForgot">忘记密码</span>
            <span class="f-fr ui_btn" data-action="goInRegister">新用户注册</span>
        </div>
    </div>

    <input class="signInBtn ui_btn" data-action="signInBtns" style="border: transparent;" type="button" value="登录" id="signInBtn" disabled="disabled">
    <!--<div class="signInBtn">登录</div>-->
    <!--<div class="signInBtn" style="background-color:#007cc3;">登录</div>-->
