
<!-- 头部 -->
	<div class="ciSshopHead" id="shopHead" style="background: #fff;">
		<div class="shopHead_top">
			<div class="back" onclick="backPage()"></div>
			<div class="search" style="font-size: 18px;">
				个人美妆
			</div>
			<div class="more moreClose" id="more">
				<span class="moreClose"></span>
				<span class="moreClose"></span>
				<span class="moreClose"></span>
			</div>

		</div>
		<!-- 类型 -->
		<div class="commodityType">
			<div class="typeIn" style="background-image: url(images/classification/typeIco.png);">为你推荐</div>
			<div class="typeIn" style="background-image: url(images/classification/typeIco.png);">个人美妆</div>
			<div class="typeIn" style="background-image: url(images/classification/typeIco.png);">数码</div>
			<div class="typeIn" style="background-image: url(images/classification/typeIco.png);">世纪大购</div>
			<div class="typeIn" style="background-image: url(images/classification/typeIco.png);">世纪大购</div>
			<div class="dropDown"></div>
		</div>
		<!-- 类型 -->
		<!-- 导航 -->
		<div class="new" id="sDNew" data-state="hide">
			<div class="list" style="position: relative; height: 5px;">
				<div class="triangle-down"></div>
			</div>
			<div class="list" style="background-image: url(images/new/homePage.png); background-color: #666666;">首页</div>
			<div class="list" style="background-image: url(images/new/homePage.png); background-col.leor: #666666;">客服</div>
			<div class="list" style="background-image: url(images/new/homePage.png); background-color: #666666;">我的</div>
			<div class="list" style="background-image: url(images/new/homePage.png); background-color: #666666;">店铺简介</div>
			<div class="list" id="newShare" style="background-image: url(images/new/homePage.png); background-color: #666666; border-bottom: 0px;" >分享</div>
		</div>
		<!-- 导航 -->
	</div>
<!-- 头部 -->	
	<!-- 站位 -->
	<div class="position"></div>
	<!-- 站位 -->
<!-- 类型标题 -->
	<div class="ciTypeContent">
		<div class="ciEvaluateTitle">
			<div class="evaluateTitleIn">
				<span class="ciLine"></span>
				<span class="ciTitle">美容护肤</span>
				<span class="ciLine"></span>
			</div>
		</div>
		<!-- 产品 -->
		<div class="product">
			<div class="p_in ui_btn" data-action="goInCommodityList" style=" margin-left: 0px;">
				<div class="p_logo">
					<img src="images/classification/icon_01.png">
				</div>
				<div class="name">面膜</div>
			</div>

			<div class="p_in">
				<div class="p_logo">
					<img src="images/classification/icon_01.png">
				</div>
				<div class="name">面膜</div>
			</div>

			<div class="p_in">
				<div class="p_logo">
					<img src="images/classification/icon_01.png">
				</div>
				<div class="name">面膜</div>
			</div>

			<div class="p_in">
				<div class="p_logo">
					<img src="images/classification/icon_01.png">
				</div>
				<div class="name">面膜</div>
			</div>

			<div class="p_in" style=" margin-left: 0px;">
				<div class="p_logo">
					<img src="images/classification/icon_01.png">
				</div>
				<div class="name">面膜</div>
			</div>

			<div class="p_in">
				<div class="p_logo">
					<img src="images/classification/icon_01.png">
				</div>
				<div class="name">面膜</div>
			</div>


			<div class="p_in">
				<div class="p_logo">
					<img src="images/classification/icon_01.png">
				</div>
				<div class="name">面膜</div>
			</div>

			<div class="p_in">
				<div class="p_logo">
					<img src="images/classification/icon_01.png">
				</div>
				<div class="name">面膜</div>
			</div>

		</div>
	</div>
	<div class="ciTypeContent">
	<div class="ciEvaluateTitle">
		<div class="evaluateTitleIn">
			<span class="ciLine"></span>
			<span class="ciTitle">个人洗护</span>
			<span class="ciLine"></span>
		</div>
	</div>
	<!-- 产品 -->
	<div class="product">
		<div class="p_in ui_btn" data-action="goInCommodityList" style=" margin-left: 0px;">
			<div class="p_logo">
				<img src="images/classification/icon_02.png">
			</div>
			<div class="name">面膜</div>
		</div>

		<div class="p_in">
			<div class="p_logo">
				<img src="images/classification/icon_02.png">
			</div>
			<div class="name">面膜</div>
		</div>

		<div class="p_in">
			<div class="p_logo">
				<img src="images/classification/icon_02.png">
			</div>
			<div class="name">面膜</div>
		</div>

		<div class="p_in">
			<div class="p_logo">
				<img src="images/classification/icon_02.png">
			</div>
			<div class="name">面膜</div>
		</div>

		<div class="p_in" style=" margin-left: 0px;">
			<div class="p_logo">
				<img src="images/classification/icon_02.png">
			</div>
			<div class="name">面膜</div>
		</div>

		<div class="p_in">
			<div class="p_logo">
				<img src="images/classification/icon_02.png">
			</div>
			<div class="name">面膜</div>
		</div>


		<div class="p_in">
			<div class="p_logo">
				<img src="images/classification/icon_02.png">
			</div>
			<div class="name">面膜</div>
		</div>

		<div class="p_in">
			<div class="p_logo">
				<img src="images/classification/icon_02.png">
			</div>
			<div class="name">面膜</div>
		</div>

	</div>
</div>
	<div class="ciTypeContent">
	<div class="ciEvaluateTitle">
		<div class="evaluateTitleIn">
			<span class="ciLine"></span>
			<span class="ciTitle">热门品牌</span>
			<span class="ciLine"></span>
		</div>
	</div>
	<!-- 产品 -->
	<div class="product" style="position: relative;overflow: hidden;width:100%;">
		<div class="product_ul">
			<div class="product_li"><img src="images/classification/icon_03.png" alt=""></div>
			<div class="product_li"><img src="images/classification/icon_03.png" alt=""></div>
			<div class="product_li"><img src="images/classification/icon_03.png" alt=""></div>
			<div class="product_li"><img src="images/classification/icon_03.png" alt=""></div>
			<div class="product_li"><img src="images/classification/icon_03.png" alt=""></div>
			<div class="product_li"><img src="images/classification/icon_03.png" alt=""></div>
			<div class="product_li"><img src="images/classification/icon_03.png" alt=""></div>
			<div class="product_li"><img src="images/classification/icon_03.png" alt=""></div>
		</div>
	</div>
</div>
	<!-- 下拉 -->
	<div class="dropDownBox" style="display: none;">
		<div class="whole">
			<div class="left fL">全部分类</div>
			<div class="right fR"></div>
		</div>


		<div class="wholeType">
			<div class="type">
				<div class="t_logo">
					<img src="images/classification/typeLogo.png">
				</div>
				<div class="t_title">为你推荐</div>
			</div>

			<div class="type">
				<div class="t_logo">
					<img src="images/classification/typeLogo.png">
				</div>
				<div class="t_title">为你推荐</div>
			</div>

			<div class="type">
				<div class="t_logo">
					<img src="images/classification/typeLogo.png">
				</div>
				<div class="t_title">为你推荐</div>
			</div>

			<div class="type">
				<div class="t_logo">
					<img src="images/classification/typeLogo.png">
				</div>
				<div class="t_title">为你推荐</div>
			</div>

			<div class="type">
				<div class="t_logo">
					<img src="images/classification/typeLogo.png">
				</div>
				<div class="t_title">为你推荐</div>
			</div>

			<div class="type">
				<div class="t_logo">
					<img src="images/classification/typeLogo.png">
				</div>
				<div class="t_title">为你推荐</div>
			</div>

			<div class="type">
				<div class="t_logo">
					<img src="images/classification/typeLogo.png">
				</div>
				<div class="t_title">为你推荐</div>
			</div>

			<div class="type">
				<div class="t_logo">
					<img src="images/classification/typeLogo.png">
				</div>
				<div class="t_title">为你推荐</div>
			</div>

			<div class="type">
				<div class="t_logo">
					<img src="images/classification/typeLogo.png">
				</div>
				<div class="t_title">为你推荐</div>
			</div>

			<div class="type">
				<div class="t_logo">
					<img src="images/classification/typeLogo.png">
				</div>
				<div class="t_title">为你推荐</div>
			</div>
		</div>
	</div>

	<!-- 背景遮罩 -->
	<div class="ciMask" style=" display: none;"></div>

	<div class="position" style=" height: 20px;"></div>
