
<div class="mine_warp">
  <div class="mine_top">
    <div class="end" onclick="backPage()"></div>
    物流消息
  </div>
  <div class="logisticsMessage_area mT">
      <div>
        <div class="logisticsMessage_area_date">2017年4月12日</div>
        <div class="logisticsMessage_area_tidings ui_btn" data-action="goInMessage"> <span style="color: #007cc3;font-size:1rem">订单已发货</span>
          <div class="logisticsMessage_area_detail">
            <div class="banner"></div>
            <span>订单已发货！您购买的【天猫超市】自然的风榉木自然的风榉木自然的风榉木自然的风榉木</span> <span>运单编号：567890456789234567</span> </div>
        </div>
      </div>
    <div>
      <div class="logisticsMessage_area_date">2017年4月12日</div>
      <div class="logisticsMessage_area_tidings ui_btn" data-action="goInMessage"> <span style="color: #007cc3;font-size:1rem">订单已发货</span>
        <div class="logisticsMessage_area_detail">
          <div class="banner"></div>
          <span>订单已发货！您购买的【天猫超市】自然的风榉木自然的风榉木自然的风榉木自然的风榉木</span> <span>运单编号：567890456789234567</span> </div>
      </div>
    </div>
    <div>
      <div class="logisticsMessage_area_date">2017年4月12日</div>
      <div class="logisticsMessage_area_tidings ui_btn" data-action="goInMessage"> <span style="color: #007cc3;font-size:1rem">订单已发货</span>
        <div class="logisticsMessage_area_detail">
          <div class="banner"></div>
          <span>订单已发货！您购买的【天猫超市】自然的风榉木自然的风榉木自然的风榉木自然的风榉木</span> <span>运单编号：567890456789234567</span> </div>
      </div>
    </div>
    <div>
      <div class="logisticsMessage_area_date">2017年4月12日</div>
      <div class="logisticsMessage_area_tidings ui_btn" data-action="goInMessage"> <span style="color: #007cc3;font-size:1rem">订单已发货</span>
        <div class="logisticsMessage_area_detail">
          <div class="banner"></div>
          <span>订单已发货！您购买的【天猫超市】自然的风榉木自然的风榉木自然的风榉木自然的风榉木</span> <span>运单编号：567890456789234567</span> </div>
      </div>
    </div>
    <div>
      <div class="logisticsMessage_area_date">2017年4月12日</div>
      <div class="logisticsMessage_area_tidings ui_btn" data-action="goInMessage"> <span style="color: #007cc3;font-size:1rem">订单已发货</span>
        <div class="logisticsMessage_area_detail">
          <div class="banner"></div>
          <span>订单已发货！您购买的【天猫超市】自然的风榉木自然的风榉木自然的风榉木自然的风榉木</span> <span>运单编号：567890456789234567</span> </div>
      </div>
    </div>
  </div>
</div>
