
<div class="index_warp">
    <div class="index_top">
        <div class ="ui_btn" data-action="seach"><img src="./images/index/seach.png" alt=""class="warp_Lt"/></div>
        <div class ="ui_btn" data-action="information" ><img src="./images/index/dialog.png" alt=""class="warp_Rg" /></div>
    </div>
    <div class="swiper-container swiper1" style="background: #fff;">
        <div class="swiper-wrapper" id="swiper_sort">
            <!--<div class="swiper-slide index_head ui_btn" data-action="banner_link"><img src="images/index/banner.png" alt=""></div>-->
        </div>
    </div>
    <div class="index_nav">
        <div class="category ui_btn" data-action="classification"><img src="./images/index/rouge.png" alt="" class="category_logo"/><div class="clear"></div><span>个人彩妆</span></div>
        <div class="category"><img src="./images/index/luggage.png" alt="" class="category_logo"/><div class="clear"></div><span>旅行酒店</span></div>
        <div class="category"><img src="./images/index/teach.png" alt="" class="category_logo"/><div class="clear"></div><span>教育培训</span></div>
        <div class="category ui_btn" data-action="recharge"><img src="./images/index/dowload.png" alt="" class="category_logo"/><div class="clear"></div><span>充值</span></div>
        <div class="category ui_btn" data-action="classification"><img src="./images/index/apply.png" alt="" class="category_logo"/><div class="clear"></div><span>更多</span></div>
    </div>
    <div class="index_among">
        <div class="among_top">商家自营</div>
        <div class="among_thread"></div>
        <div class="among_autotrophy ui_btn" data-action="payment" style="float: right;background-image: url(./images/index/sm.png);background-size: 100% 112px"></div>
        <div class="among_autotrophy ui_btn" data-action="raise"  style="float: right;background-image: url(./images/index/gy.png);background-size:100% 112px"></div>
    </div>
    <div class="index_fireStorm">
        <div class="fireStorm_top ">火爆商品</div>
        <div class="swiper-container swiper2">
            <div class="swiper-wrapper" id="swiper_hot">
            </div>
        </div>
    </div>
    <div class="index_guessYoulike">
        <div class="guessYoulike_top">猜你喜欢</div>
        <div id="max_width">
            <!--<div class="guessYoulike_area  ui_btn" data-action="commodityDetails">-->
                <!--<div class="guessYoulike_area_img"><img src="images/index/banner.png" alt=""/></div>-->
                <!--<div class="guessYoulike_area_txt">-->
                    <!--<span>控油极男水油平衡套装</span>-->
                    <!--<span>男士护肤品套装控油极男</span>-->
                    <!--<span>￥ </span>-->
                    <!--<span>40.00</span>-->
                    <!--<span>2812付款</span>-->
                    <!--<div class="dian"></div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="guessYoulike_top" style="color:#ccc">已经到最底部</div>
    </div>
</div>

<div style=" width: 100%; height: 20px; background-color:#eee;"></div>
