
<!-- 头部 -->
	<!-- 导航 -->
	<div class="slNew" id="sDNew" data-state="hide">
		<div class="list" style="position: relative; height: 5px;">
			<div class="triangle-down"></div>
		</div>
		<div class="list" style="background-image: url(images/new/homePage.png); background-color: #666666;">首页</div>
		<div class="list" style="background-image: url(images/new/homePage.png); background-color: #666666;">客服</div>
		<div class="list" style="background-image: url(images/new/homePage.png); background-color: #666666;">我的</div>
		<div class="list" style="background-image: url(images/new/homePage.png); background-color: #666666;">店铺简介</div>
		<div class="list" id="newShare" style="background-image: url(images/new/homePage.png); background-color: #666666; border-bottom: 0px;" >分享</div>
	</div>
	<!-- 导航 -->
	<div class="citShopHead" id="shopHead">
		<div class="shopHead_top">
			<div class="back" onclick="backPage()"></div>
			<div class="search">
				<input type="text" name="" placeholder="商品">
				<div class="search_r"></div>
			</div>
			<div class="more moreClose" id="more">
				<span class="moreClose"></span>
				<span class="moreClose"></span>
				<span class="moreClose"></span>
			</div>

		</div>

		<div class="slCategory">
			<span>全部</span>
			<span>世纪大购</span>
		</div>

	</div>
<!-- 头部 -->
	<!-- 站位 -->
	<div class="position"></div>
	<!-- 排序 -->
	<div class="slSort">
		<div class="left fL">
			<div class="type">综合排序</div>
			<div class="type">销量优先</div>
			<div class="type">好评率</div>
		</div>
		<div class="right fR">筛选</div>
	</div>

	<!-- 产品 -->
	<div class="clProduct">
		<div class="productPic fL">
			<img src="images/commodityList/productPic.png" alt="">
		</div>
		<div class="productDesc fR">
			<div class="descTitle">Edifier/漫步者 R12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USB</div>
			<div class="descIp">
				<div class="ipTop">杭州</div>
				<div class="express">包邮</div>
			</div>
			<div class="count">
				<div class="price fL"><span>￥</span>200</div>
				<div class="paymentNumber fL">200人付款</div>
				<div class="more fR"></div>
			</div>
		</div>
	</div>

	<div class="clProduct">
		<div class="productPic fL">
			<img src="images/commodityList/productPic.png" alt="">
		</div>
		<div class="productDesc fR">
			<div class="descTitle">Edifier/漫步者 R12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USB</div>
			<div class="descIp">
				<div class="ipTop">杭州</div>
				<div class="express">包邮</div>
			</div>
			<div class="count">
				<div class="price fL"><span>￥</span>200</div>
				<div class="paymentNumber fL">200人付款</div>
				<div class="more fR"></div>
			</div>
		</div>
	</div>

	<div class="clProduct">
		<div class="productPic fL">
			<img src="images/commodityList/productPic.png" alt="">
		</div>
		<div class="productDesc fR">
			<div class="descTitle">Edifier/漫步者 R12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USB</div>
			<div class="descIp">
				<div class="ipTop">杭州</div>
				<div class="express">包邮</div>
			</div>
			<div class="count">
				<div class="price fL"><span>￥</span>200</div>
				<div class="paymentNumber fL">200人付款</div>
				<div class="more fR"></div>
			</div>
		</div>
	</div>

	<div class="clProduct">
		<div class="productPic fL">
			<img src="images/commodityList/productPic.png" alt="">
		</div>
		<div class="productDesc fR">
			<div class="descTitle">Edifier/漫步者 R12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USB</div>
			<div class="descIp">
				<div class="ipTop">杭州</div>
				<div class="express">包邮</div>
			</div>
			<div class="count">
				<div class="price fL"><span>￥</span>200</div>
				<div class="paymentNumber fL">200人付款</div>
				<div class="more fR"></div>
			</div>
		</div>
	</div>

	<div class="clProduct">
		<div class="productPic fL">
			<img src="images/commodityList/productPic.png" alt="">
		</div>
		<div class="productDesc fR">
			<div class="descTitle">Edifier/漫步者 R12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USB</div>
			<div class="descIp">
				<div class="ipTop">杭州</div>
				<div class="express">包邮</div>
			</div>
			<div class="count">
				<div class="price fL"><span>￥</span>200</div>
				<div class="paymentNumber fL">200人付款</div>
				<div class="more fR"></div>
			</div>
		</div>
	</div>

	<div class="clProduct">
		<div class="productPic fL">
			<img src="images/commodityList/productPic.png" alt="">
		</div>
		<div class="productDesc fR">
			<div class="descTitle">Edifier/漫步者 R12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USB</div>
			<div class="descIp">
				<div class="ipTop">杭州</div>
				<div class="express">包邮</div>
			</div>
			<div class="count">
				<div class="price fL"><span>￥</span>200</div>
				<div class="paymentNumber fL">200人付款</div>
				<div class="more fR"></div>
			</div>
		</div>
	</div>

	<div class="clProduct">
		<div class="productPic fL">
			<img src="images/commodityList/productPic.png" alt="">
		</div>
		<div class="productDesc fR">
			<div class="descTitle">Edifier/漫步者 R12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USBR12U台式电脑音响低音炮手机迷你笔记本小音箱USB</div>
			<div class="descIp">
				<div class="ipTop">杭州</div>
				<div class="express">包邮</div>
			</div>
			<div class="count">
				<div class="price fL"><span>￥</span>200</div>
				<div class="paymentNumber fL">200人付款</div>
				<div class="more fR"></div>
			</div>
		</div>
	</div>

	<!-- 筛选模块 -->
	<div class="screen">
		<div class="close">X</div>
		<div class="theme">
			<div class="ciiTitle">品牌</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
		</div>
		<div class="line"></div>

		<div class="theme">
			<div class="title">折扣和服务</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
		</div>
		<div class="line"></div>


		<div class="theme">
			<div class="title">折扣和服务1</div>
			<div class="choice">
				<input class="minimum fL" type="number" name="">
				<!-- <div >最低价</div> -->
				<div class="to fL"></div>
				<input class="highest fR" type="number" name="">
				<!-- <div class="highest fR">最高价</div> -->
			</div>
			<div class="most">
				<span class="range">60-120</span>
				<span>40%的选择</span>
			</div>
			<div class="most">
				<span class="range">60-120</span>
				<span>40%的选择</span>
			</div>
			<div class="most">
				<span class="range">60-120</span>
				<span>40%的选择</span>
			</div>
		</div>


		<!-- 按钮 -->
		<div class="button">
			<div class="left reset fL">重置</div>
			<div class="right complete fR">完成</div>
		</div>
	</div>


	<!-- 背景遮罩 -->
	<div class="slMask"></div>

	<!--<script type="text/javascript" src="js/tool/jquery-1.11.3.min.js"></script>-->
	<!--&lt;!&ndash; <script type="text/javascript" src="js/commodityList.js"></script> &ndash;&gt;-->
	<!--<script type="text/javascript" src="js/charityGoods.js"></script>-->
