
<div class="index_warp" style="background-color: #f7f7f7">
    <div class="rankThrough_top">
        <div class="rankThrough_search">
            <div class="rankThrough_searchArea warp_Lt">
                <div class="rankThrough_searchSel" id="more" style="cursor: pointer;">
                    <div id="searchSel_demo"  style="padding-left: 25%;cursor: pointer;">商家 <span style="float:right;margin-right: 20%;"><img src="images/index/icon_01.png" alt=""></span></div>
                    <!--<div>店铺</div>-->
                    <!-- 导航 -->
                    <div class="new" id="sDNew" data-state="hide" style="top:35px; width:30%;left: 25px;">
                        <div class="list" style="position: relative; height: 5px;background: #007cc3;">
                            <div class="triangle-down" style="left:26px;"></div>
                        </div>
                        <div class="list" data-side="1"  style="background-color: #666;text-align: center;text-indent: inherit;font-size: 14px;">商家</div>
                        <div class="list" data-side="2"  style="background-color: #666;text-align: center;text-indent: inherit;font-size: 14px;">商品</div>
                    </div>
                    <!-- 导航 -->
                </div>
                <input type="text"/>
                <div class="searchIcon" id="search"></div>
            </div>
            <span class="warp_Rg" style="color: #fff;" id="btn" onclick="backPage()">取消</span>
        </div>
    </div>
    <div class="rankThrough_history" style="margin-top: 64px;">
        <div class="history">
            <div class="rankThrough_historyTop">
                <span class="warp_lt" style="color: #000;font-size: 16px;">历史记录</span>
                <div class="del warp_Rg"></div>
            </div>
            <div class="rankThrough_historyArea">
                <div class="rankThrough_record">
                    <div class="rankThrough_historyIcon ui_btn" data-action="shopping_list">连衣裙</div>
                    <div class="rankThrough_historyIcon ui_btn" data-action="shopping_list">连衣裙</div>
                    <div class="rankThrough_historyIcon ui_btn" data-action="shopping_list">连衣裙</div>
                    <div class="rankThrough_historyIcon ui_btn" data-action="shopping_list" style="margin-right: 1%">连衣裙</div>
                </div>
                <div class="rankThrough_record">
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon" style="margin-right: 1%">连衣裙</div>
                </div>




            </div>
        </div>
        <div class="hot">
            <div class="rankThrough_historyTop">
                <span class="warp_lt" style="color: #000;font-size: 16px;">精品推荐</span>
                <div class="eye warp_Rg"></div>
            </div>
            <div class="rankThrough_historyArea" style="line-height: 50px;text-align: center">
                <span class="searchInput">当前搜索发现已经关闭</span>
                <div class="rankThrough_record" style="margin-top: 20px;">
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon" style="margin-right: 1%">连衣裙</div>
                </div>
            </div>
        </div>
    </div>


</div>

<div id="fixed_close">
    <div class="search_close">
        <p>是否删除您的历史记录！</p>
        <div>
            <span id="del">删除</span>
            <span id="cel">取消</span>
        </div>
    </div>
</div>

