	<!-- 导航 -->
	<div class="ssNew" id="sDNew" data-state="hide">
		<div class="list" style="position: relative; height: 5px;">
			<div class="triangle-down"></div>
		</div>
		<div class="list" style="background-image: url(images/new/homePage.png); background-color: #666666;">首页</div>
		<div class="list" style="background-image: url(images/new/homePage.png); background-color: #666666;">客服</div>
		<div class="list" style="background-image: url(images/new/homePage.png); background-color: #666666;">我的</div>
		<div class="list" style="background-image: url(images/new/homePage.png); background-color: #666666;">店铺简介</div>
		<div class="list" id="newShare" style="background-image: url(images/new/homePage.png); background-color: #666666; border-bottom: 0px;" >分享</div>
	</div>
	<!-- 导航 -->
<!-- 头部 -->
	<div class="ssShopHead" id="shopHead">
		<div class="shopHead_top">
			<div class="back" onclick="backPage()"></div>
			<div class="search">
				<input type="text" name="" placeholder="商品">
				<div class="search_r"></div>
			</div>
			<div class="more moreClose" id="more">
				<span class="moreClose"></span>
				<span class="moreClose"></span>
				<span class="moreClose"></span>
			</div>
		</div>
	</div>
<!-- 头部 -->
	<!-- 站位 -->
	<div class="position" style=" height: 90px;"></div>
	<!-- 排序 -->
	<div class="ssSort">
		<div class="left fL">
			<div class="type">综合排序</div>
			<div class="type">销量优先</div>
			<div class="type">好评率</div>
		</div>
		<div class="right fR">筛选</div>
	</div>

	<!-- 店铺 -->

	<div class="ss_shop">
		<div class="shopData">
			<div class="pic">
				<img src="images/storeDetails/head.png" alt=""/>
			</div>
			<div class="sdData">
				<div class="name">Edifier/漫步者</div>
				<div class="number">销量</div>
			</div>
			<div class="goIn">进店</div>
		</div>
		<div class="shopPic">
			<div class="picBox">
				<img src="images/storeDetails/sharePic.png" alt=""/>
			</div>
			<div class="picBox">
				<img src="images/storeDetails/sharePic.png" alt=""/>
			</div>
			<div class="picBox">
				<img src="images/storeDetails/sharePic.png" alt=""/>
			</div>
		</div>
	</div>

	<div class="ss_shop">
		<div class="shopData">
			<div class="pic">
				<img src="images/storeDetails/head.png" alt=""/>
			</div>
			<div class="sdData">
				<div class="name">Edifier/漫步者</div>
				<div class="number">销量</div>
			</div>
			<div class="goIn">进店</div>
		</div>
		<div class="shopPic">
			<div class="picBox">
				<img src="images/storeDetails/sharePic.png" alt=""/>
			</div>
			<div class="picBox">
				<img src="images/storeDetails/sharePic.png" alt=""/>
			</div>
			<div class="picBox">
				<img src="images/storeDetails/sharePic.png" alt=""/>
			</div>
		</div>
	</div>

	<div class="ss_shop">
		<div class="shopData">
			<div class="pic">
				<img src="images/storeDetails/head.png" alt=""/>
			</div>
			<div class="sdData">
				<div class="name">Edifier/漫步者</div>
				<div class="number">销量</div>
			</div>
			<div class="goIn">进店</div>
		</div>
		<div class="shopPic">
			<div class="picBox">
				<img src="images/storeDetails/sharePic.png" alt=""/>
			</div>
			<div class="picBox">
				<img src="images/storeDetails/sharePic.png" alt=""/>
			</div>
			<div class="picBox">
				<img src="images/storeDetails/sharePic.png" alt=""/>
			</div>
		</div>
	</div>

	<!-- 筛选模块 -->
	<div class="screen">
		<div class="close">X</div>
		<div class="theme">
			<div class="sTitle">店铺类型</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
		</div>
		<div class="sLine"></div>

		<div class="theme">
			<div class="sTitle">指定筛选</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
		</div>
		<div class="sLine"></div>

		<div class="theme">
			<div class="sTitle">地区</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
			<div class="listName">漫步者</div>
		</div>



		<!-- 按钮 -->
		<div class="button">
			<div class="left reset fL">重置</div>
			<div class="right complete fR">完成</div>
		</div>
		
	</div>

	<!-- 背景遮罩 -->
	<div class="ssMask"></div>

	<!--<script type="text/javascript" src="js/tool/jquery-1.11.3.min.js"></script>-->
	<!--<script type="text/javascript" src="js/charityGoods.js"></script>-->
