
/***********************¶¥²¿ **********************/
.top{
    width: 90%;
    height: 44px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    line-height: 44px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    color: #333;
    font-size: 18px;
    border-bottom: 1px solid #eee;
}

.top .return{
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5%;
    background-image: url(../../images/mine/return.png);
    background-position:left;
    background-size: 26px;
    background-repeat: no-repeat;
}
