
<div class="recharge_warp">
    <div class="recharge_top">
        <div class="end" onclick="backPage()"></div>
        影视充值
    </div>
    <div class="entertainment_area breadth mT">
        <div class="hotEntertainment">热门充值</div>
        <div class="hotPic">
            <div class="hotPicEntertainment xx ui_btn" data-action="goInVideoRechargeDetails"></div>
            <div class="hotPicEntertainment xx"></div>
            <div class="hotPicEntertainment xx"></div>
        </div>

        <div class="hotEntertainment">其他充值</div>
        <div class="hotPicEntertainment"></div>
        <div class="hotPicEntertainment"></div>
        <div class="hotPicEntertainment"></div>
        <div class="hotPicEntertainment"></div>
        <div class="hotPicEntertainment"></div>
        <div class="hotPicEntertainment"></div>
        <div class="hotPicEntertainment"></div>
        <div class="hotPicEntertainment"></div>
        <div class="hotPicEntertainment"></div>
    </div>
</div>
<div class="rule"><span>规则</span>|<span>充值记录</span></div>
