
<div class="recharge_warp">
  <div class="store_top" style="background-color: #fff;border-bottom: 1px solid #eee;">
    <div class="end" onclick="backPage()"></div>
    中国石化 </div>
  <div class="details_Fill" style="margin-top: 54px;">
    <div class="details_fillTxt"><span style="letter-spacing: 3px;">姓&nbsp;名:</span>
      <input type="text"/>
    </div>
    <div class="details_fillTxt"><span style="letter-spacing: 0.5px;">身份证:</span>
      <input type="text"/>
    </div>
    <div class="details_fillTxt"><span style="letter-spacing: 3px;">卡&nbsp;号:</span>
      <input type="number"/>
    </div>
  </div>
  <div class="details_amountArea">
    <div class="details_amountAreaTxt"> <span class="warp_Lt">充值金额：</span> <span>500</span>
      <div class="down  warp_Rg"></div>
    </div>
    <div class="details_amountAreaTxt conceal"> <span class="warp_Lt conceal">充值金额</span> <span>1000</span> </div>
    <div class="details_amountAreaTxt conceal"> <span class="warp_Lt conceal">充值金额</span> <span>1500</span> </div>
    <div class="details_amountAreaTxt conceal"> <span class="warp_Lt conceal">充值金额</span> <span>2000</span> </div>
  </div>
  <div class="details_Btn">确定</div>
</div>
<!--<script type="text/javascript">-->
    <!--$(document).ready(function(){-->
        <!--$(".details_amountAreaTxt").click(function(){-->
            <!--if($(".details_amountAreaTxt").hasClass("conceal")){-->
                <!--$(".details_amountAreaTxt").removeClass("conceal")-->
            <!--}else {-->
                <!--$(".details_amountAreaTxt ").addClass("conceal");-->
                <!--$(".details_amountAreaTxt:first").removeClass("conceal");-->
                <!--var txt = $('>span:nth-child(2)',this).html();-->
                <!--$(".details_amountAreaTxt:first span:nth-child(2)").html(txt);-->
            <!--}-->

        <!--});-->

    <!--});-->
<!--</script>-->
