
<div class="recharge_warp" style="background: #f7f7f7;">
  <div class="store_top personal_top" style="color: #333;">
    <div class="end" onclick="backPage()"></div>
    加油卡 </div>
  <div class="refuelingCard_cardArea ui_btn" data-action="details" style="margin-top:64px; border-top: 1px #eee solid; ">
    <div class="refuelingCard_cardImg"></div>
    <span>中国石油</span> <span>加油卡充值</span>
    <div class="start"></div>
  </div>
  <div class="refuelingCard_cardArea  ui_btn" data-action="details">
    <div class="refuelingCard_cardImg"></div>
    <span>中国石化</span> <span>加油卡充值</span>
    <div class="start"></div>
  </div>
</div>
<div class="rule"><span>规则</span>|<span>充值记录</span></div>
