
<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>账户安全
    </div>
    <div class="area_aside grayMt">
        <div class="displayBox breadth ui_btn" data-action="goInAuthentication">
            <span>实名认证</span>
            <div class="accountSecurity_degree warp_Rg"><span style="color: #007cc3">未认证</span></div>
        </div>
        <div class="displayBox breadth ui_btn" data-action="goInPhone">
            <span>手机</span>
            <div class="accountSecurity_degree warp_Rg"><span id="mobile"></span></div>
        </div>
        <div class="displayBox breadth ui_btn" data-action="goInEmail">
            <span>邮箱</span>
            <div class="accountSecurity_degree warp_Rg"><span id="email"></span></div>
        </div>
    </div>
    <div class="area_aside ui_btn" data-action="goInAddressManagement" style="margin-top: 15px;" >
        <div class="displayBox breadth">
            <span>收货地址</span>
            <div class="accountSecurity_degree warp_Rg"><span id="address_num">1个</span></div>
        </div>
    </div>
</div>
