
	<div class="addTop">
		<div class="return" onclick="backPage()"></div>
		添加银行卡
		<!--<div class="add" onclick="backPage()"></div>-->
	</div>

	<div class="prompt">请绑定持卡本人的银行卡</div>

	<div class="addZone">
		<div class="list">
			<div class="name fL">持卡人</div>
			<!-- <input type="text" name="" placeholder="姓名"> -->
			<label>自动获取名字</label>
		</div>
		<div class="list">
			<div class="name fL">卡号</div>
			<input type="text" name="" value="" id="BankCardNumber" placeholder="无需网银">
			<div class="addClear"></div>
		</div>
	</div>
<div id="banknoInfo"></div>
	<!-- <div class="submit">提交</div> -->
	<div class="submit ui_btn" data-action="goInAddNext">下一步</div>
	<!--<div class="submit ui_btn" data-action="goInAddNext" style="background-color: #ccc;" id="sub">下一步</div>-->

<!--<script type="text/javascript" src="js/tool/jquery-1.11.3.min.js"></script>-->
<!--<script src="js/tong_js.js"></script>-->
<!--<script type="text/javascript">-->
	<!--$(function(){-->
		<!--$('.addZone .list input').focus();-->

		<!--$('.clear').click(function(){-->
			<!--$('#BankCardNumber').val("");-->
			<!--$('.addZone .list input').focus();-->
		<!--})-->
	<!--})-->
<!--</script>-->
