
<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>新增收货地址
    </div>
    <div class="setAside grayMt bT bB">
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">收货人</span>
            <input type="text" placeholder="请输入信息" class="entry warp_Rg"/>
        </div>
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">手机号码</span>
            <input type="number" placeholder="请输入信息" class="entry warp_Rg"/>
        </div>
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">所在地区</span>
            <span style="font-size: .875rem"></span>
            <div class="quite about_hT warp_Rg"></div>
        </div>
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">详细地址</span>
            <textarea id="bssasAddress" class="entry warp_Rg entry_txt" wrap="hard"></textarea>
        </div>
        <div class="displayBox addedAddress_breadth" style="border-bottom: 0">
            <span class="added_txt">邮政编码</span>
            <input type="number" placeholder="请输入信息" class="entry warp_Rg"/>
        </div>
    </div>
    <div class="cancel">保存</div>
</div>
