
<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>地区
    </div>
    <div class="breadth mT area_top ">常用</div>
    <div class="setAside  bT bB">
        <div class="displayBox setBreadth">
            <span>中国大陆</span>
            <div class="area_degree warp_Rg"><span>86</span></div>
        </div>
        <div class="displayBox setBreadth">
            <span>香港</span>
            <div class="area_degree warp_Rg"><span>852</span></div>
        </div>
        <div class="displayBox setBreadth">
            <span>澳门</span>
            <div class="area_degree warp_Rg"><span>853</span></div>
        </div>
        <div class="displayBox setBreadth" style="border-bottom: 0">
            <span>台湾</span>
            <div class="area_degree warp_Rg"><span>886</span></div>
        </div>
    </div>
    <div class="cancel">取消</div>
</div>
