
	<div class="bdTop">
		<div class="return" onclick="backPage()"></div>
		账单详情
	</div>

	<div class="transactionDetails">
		<div class="bdHead">
			<div class="bdBox">
				<div class="pic"></div>
			</div>
			<div class="bdBox">
				昵称
			</div>	
		</div>

		<div class="transactionQuota">+111.00</div>
		<div class="transactionHints">交易成功</div>

		<div class="transactionData">
			<div class="dataTitle">付款方式</div>
			<div class="dataContent">账号余额</div>
		</div>

		<div class="transactionData">
			<div class="dataTitle">转账说明</div>
			<div class="dataContent">收款</div>
		</div>
		
		<div class="transactionData">
			<div class="dataTitle">对方账户</div>
			<div class="dataContent"><span>昵称</span><span>133****1234</span></div>
		</div>

		<div class="dividingLine"></div>

		<div class="transactionData">
			<div class="dataTitle">创建时间</div>
			<div class="dataContent">2017-05-05 12::00</div>
		</div>

		<div class="transactionData">
			<div class="dataTitle" style="width:25%">订单号</div>
			<div class="dataContent" style="width:75%">1354654135165465465465sdsaf</div>
		</div>

	</div>
