
<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>更换邮箱
    </div>
    <div class="setAside grayMt bT bB">
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">新邮箱</span>
           <input style=" width: 100%; height: 100%; text-align: right; display: block" type="text" placeholder="请输入你的邮箱" id="emails"/>
        </div>
        <!--<div class="displayBox addedAddress_breadth" style="border-bottom: 0">-->
            <!--<span class="added_txt">+86</span>-->
            <!--<input type="text" placeholder="请输入你的手机号" class="entry warp_Rg"/>-->
        <!--</div>-->


    </div>
    <div class="cancel ui_btn" data-action="goInCodes">下一步</div>
</div>
