
<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>修改地址
        <div class="ui_btn" style=" width: 40px; height: 100%; float:right; font-size: 12px; line-height: 44px; text-align: center;color:#007cc3">删除</div>
    </div>
    <div class="setAside grayMt bT bB">
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">收货人</span>
            <input type="text" value="姓名" class="entry warp_Rg"/>
        </div>
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">手机号码</span>
            <input type="number" value="123546489" class="entry warp_Rg"/>
        </div>
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">所在地区</span>
            <span style="font-size: .875rem">浙江省杭州市拱墅区</span>
            <div class="quite about_hT warp_Rg"></div>
        </div>
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">详细地址</span>
            <textarea id="bssasAddress" class="entry warp_Rg entry_txt" wrap="soft">祥符街道新文路33-2号楼天堂e谷 3号楼411</textarea>
        </div>
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">邮政编码</span>
            <input type="number" value="323911" class="entry warp_Rg"/>
        </div>
    </div>
    <div class="added_prompt">
        <span>修改收货地址</span><br/>
        <span>成功</span>
    </div>
    <div class="cancel">保存</div>
</div>

<!--<script type="text/javascript">-->
    <!--$(document).ready(function(){-->
        <!--$(".cancel").click(function(){-->
           <!--$(".added_prompt").show();-->
        <!--});-->
    <!--});-->
<!--</script>-->
