
    <div class="csTop">
        <div class="return" onclick="backPage()"></div>
        客服
    </div>

    <div class="telephoneService">
        <div class="csTelephone">
            <div class="csNumber">客服热线1:345678926</div>
            <div class="pic"></div>
        </div>

        <div class="csTelephone">
            <div class="csNumber">客服热线1:345678926</div>
            <div class="pic"></div>
        </div>

        <div class="csTelephone">
            <div class="csNumber">客服热线1:345678926</div>
            <div class="pic"></div>
        </div>
    </div>

    <div class="qqService">

        <div class="qq">
            <div class="pic"></div>
            <div class="csNumber">QQ客服1：客服-小小</div>
        </div>

        <div class="qq">
            <div class="pic"></div>
            <div class="csNumber">QQ客服1：客服-小小</div>

        </div>

        <div class="qq">
            <div class="pic"></div>
            <div class="csNumber">QQ客服1：客服-小小</div>

        </div>
    </div>

