
	<!--<div class="position" style=" height: 44px;"></div>-->

	<div class="top">
		<div class="return" onclick="backPage()"></div>
		明细
		<div class="edit eYes ui_btn" data-action="edit">筛选</div>
	</div>

	<div class="detailed">
		
		<div class="list">
			<div class="mode">
				<div class="modeName">收益-昵称</div>
				<div class="time">2017-01-01</div>
			</div>
			<div class="amount">
				<div class="amountDetailed">+10.00</div>
				<div class="surplus">4578.00</div>
			</div>
		</div>

		<div class="list">
			<div class="mode">
				<div class="modeName">收益-产品名称</div>
				<div class="time">2017-01-01</div>
			</div>
			<div class="amount">
				<div class="amountDetailed">+10.00</div>
				<div class="surplus">4578.00</div>
			</div>
		</div>

		<div class="list">
			<div class="mode">
				<div class="modeName">充值</div>
				<div class="time">2017-01-01</div>
			</div>
			<div class="amount">
				<div class="amountDetailed">+10.00</div>
				<div class="surplus">4578.00</div>
			</div>
		</div>

		<div class="list">
			<div class="mode">
				<div class="modeName">体现</div>
				<div class="time">2017-01-01</div>
			</div>
			<div class="amount">
				<div class="amountDetailed">+10.00</div>
				<div class="surplus">4578.00</div>
			</div>
		</div>

		<div class="list">
			<div class="mode">
				<div class="modeName">冻结-产品名称</div>
				<div class="time">2017-01-01</div>
			</div>
			<div class="amount">
				<div class="amountDetailed">+10.00</div>
				<div class="surplus">4578.00</div>
			</div>
		</div>

	</div>

	<!-- 筛选 -->

	<div class="detailedScreen" style=" display: none">
		<div class="screenType selectedBg">全部</div>
		<div class="screenType margn">全部</div>
		<div class="screenType">全部</div>
		<div class="screenType">全部</div>
		<div class="screenType margn">全部</div>
		<div class="screenType">全部</div>

	</div>

	<!--&lt;!&ndash; 遮罩 &ndash;&gt;-->
	<!--<div class="bgMask"></div>-->
	<!--<script src="js/tool/jquery-1.11.3.min.js"></script>-->
	<!--<script src="js/tool/aggregate.js"></script>-->
	<!--<script src="js/tong_js.js"></script>-->
	<!--<script>-->
        <!--addEventListener();-->
	<!--</script>-->
