
	<div class="position" style=" height: 44px;"></div>

	<div class="top">
		<div class="return" onclick="backPage()"></div>
		店铺身份
		<!-- <div class="edit eYes btn" data-motion="edit">筛选</div> -->
	</div>

	<div class="msHead" style="line-height: 65px;padding-top: 0;height:65px;font-size: 16px;">
		<span style="float:left;" id="msHead_name">平台</span>
		<span style="float:right;">默认板式</span>
	</div>
	<div class="msHead" style="line-height:70px;padding-top: 0;height:70px;font-size: 16px;background: transparent;color: #000;">
		<span style="float:left;">展示店铺</span>
		<span style="float:right;">设为默认</span>
	</div>
	<div class="superiorData" style="height:inherit;margin-top: inherit;">
		<div class="msList"><div class="left">平台</div><div class="right"><input type="radio" name="leavl" style="width:20px;height:20px;" checked="checked"></div></div>
		<div class="msList"><div class="left">我的店铺</div><div class="right"><input type="radio" name="leavl" style="width:20px;height:20px;"></div></div>
		<div class="msList"><div class="left">与花说（联创）</div><div class="right"><input type="radio" name="leavl" style="width:20px;height:20px;"></div></div>
		<div class="msList"><div class="left">与花说（联创）1</div><div class="right"><input type="radio" name="leavl" style="width:20px;height:20px;"></div></div>
		<div class="msList"><div class="left">与花说（联创）2</div><div class="right"><input type="radio" name="leavl" style="width:20px;height:20px;"></div></div>
		<div class="msList"><div class="left">与花说（联创）3</div><div class="right"><input type="radio" name="leavl" style="width:20px;height:20px;"></div></div>
		<div class="msList"><div class="left">与花说（联创）4</div><div class="right"><input type="radio" name="leavl" style="width:20px;height:20px;"></div></div>
	</div>

	<div style="margin-top: 20px;font-size: 20px;font-weight: 900;text-align: center;">说明：每24小时才能修改板式一次</div>

