	<div class="top">
		<div class="return" onclick="backPage()"></div>
		兑换记录
	</div>

	<div class="chooseBox">
		<div class="not selection" data-side="1">未兑换</div>
		<div class="already" data-side="2">已兑换</div>
	</div>

	<!-- 未兑换 -->
	<div id="side1" class="chooseList">
		<div class="list">
			<span class="fL">兑换码</span>
			<div class=" rightB fR selection">装赠</div>
			<div class=" rightB fR selection">兑换</div>
		</div>

		<div class="list">
			<span class="fL">兑换码</span>
			<div class=" rightB fR selection">装赠</div>
			<div class=" rightB fR selection">兑换</div>
		</div>

		<div class="list">
			<span class="fL">兑换码</span>
			<div class=" rightB fR selection">装赠</div>
			<div class=" rightB fR selection">兑换</div>
		</div>

		<div class="list">
			<span class="fL">兑换码</span>
			<div class=" rightB fR selection">装赠</div>
			<div class=" rightB fR selection">兑换</div>
		</div>
		
	</div>

	<!-- 已兑换 -->
	<div id="side2" class="chooseList" style=" display: none;">
		<div class="list">
			<span class="fL">兑换码</span>
			<span class="fR">已兑换</span>
		</div>
		<div class="list">
			<span class="fL">兑换码</span>
			<span class="fR">已兑换</span>
		</div>
		<div class="list">
			<span class="fL">兑换码</span>
			<span class="fR">已兑换</span>
		</div>
		<div class="list">
			<span class="fL">兑换码</span>
			<span class="fR">已兑换</span>
		</div>
		<div class="list">
			<span class="fL">兑换码</span>
			<span class="fR">已兑换</span>
		</div>
		
	</div>