
	<!-- 顶部 -->
	<div class="fTop">
		<div class="return" onclick="backPage()"></div>
		填写银行卡信息
	</div>


	<div class="fInformation">
		<div class="fItitle fL">卡类型</div>
		<div class="fiiContent fL">自动获取</div>
	</div>

	<div class="fInformation">
		<div class="fItitle fL">手机号</div>
		<div class="fiiContent fL">
			<input type="text" name="" placeholder="银行卡预留号码">
			<div class="notice"></div>
		</div>
	</div>

	<!-- <div class="submit">提交</div> -->
	<div class="fiSubmit" style="background-color: #cccccc;" id="">下一步</div>
