<!-- 顶部站位 -->
<div class="position" style=" height: 44px;"></div>

<div class="smTop">我的
    <div class="return ui_btn" data-action="mine_index"></div>
    <div class="set ui_btn" data-action="goInSetUp">设置</div>
</div>

<div class="tHead">
    <div class="pic ui_btn" data-action="goInPersonal" id="pic">

    </div>
    <div class="name"></div>

    <div class="smData">
        <div class="balance fL ui_btn" data-action="goInWallet">
            <div class="smTitle">
                <div class="left balanceSign fL"></div>
                <div class="right fL">我的余额</div>
            </div>
            <div class="oNumber"></div>
        </div>
        <div class="Imazamox fR ui_btn" data-action="goInImazamox">
            <div class="smTitle">
                <div class="left ImazamoxSign fL"></div>
                <div class="right fL">我的金豆</div>
            </div>
            <div class="oNumber">
            </div>
        </div>
    </div>
</div>


<div class="follow ui_btn" data-action="coll">
    <div class="numberT">
        <p style=" font-size: 16px;" id="chanp"></p>
        <p>收藏的产品</p>
    </div>
    <div class="numberT">
        <p style=" font-size: 16px;" id="dianp"></p>
        <p>收藏的店铺</p>
    </div>
</div>


<!-- 订单 -->
<div class="order">
    <div class="title ui_btn" data-action="goInOrder">
        <span>我的订单</span>
        <div class="more">
            <div class="go fL">查看更多</div>
            <div class="mGoIn fR"></div>
        </div>
    </div>
    <div class="orderType">

        <div class="typeTox">
            <div class="pic waitPay">
                <div class="number"></div>
            </div>
            <div class="typeName">待付款</div>
        </div>

        <div class="typeTox">
            <div class="pic waitDelivery">
            </div>
            <div class="typeName">待发货</div>
        </div>

        <div class="typeTox">
            <div class="pic waitReceipt">
            </div>
            <div class="typeName">待收货</div>
        </div>

        <div class="typeTox">
            <div class="pic waitEvaluate">
            </div>
            <div class="typeName">待评价</div>
        </div>

        <div class="typeTox ui_btn" data-action="goInRefund">
            <div class="pic service">
            </div>
            <div class="typeName">售后/退款</div>
        </div>

    </div>

    <div class="logistics ui_btn" data-action="ckwl">
        <div class="newest fL">
            <p>最新物流</p>
            <p>05-06</p>
        </div>
        <div class="mContent fL">
            <div class="pic">
                <img src="images/mine/head.png">
            </div>
            <div class="information">
                <p style=" color: red">已签收</p>
                <p style="width:100%; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;">[杭州市]已签收，感谢使用顺丰，期[杭州市]已签收，感谢使用顺丰，期[杭州市]已签收，感谢使用顺丰，期[杭州市]已签收，感谢使用顺丰，期待再次</p>
            </div>
        </div>
    </div>

</div>


<div class="typeRegion">
    <div class="typeList ui_btn" data-action="goInSuperior">
        <div class="typeLogo myUp"></div>
        <div class="typeTitle">我的上级</div>
    </div>

    <div class="typeList ui_btn" data-action="goInShoppingCart">
        <div class="typeLogo myUp"></div>
        <div class="typeTitle">购物车</div>
    </div>

    <div class="typeList ui_btn" data-action="goInMyBill">
        <div class="typeLogo myBill"></div>
        <div class="typeTitle">我的账单</div>
    </div>

    <div class="typeList ui_btn" data-action="goInWallet">
        <div class="typeLogo myWallet"></div>
        <div class="typeTitle">我的钱包</div>
    </div>

    <!-- 		<div class="typeList">
                <div class="typeLogo myOrder"></div>
                <div class="typeTitle">我的订单</div>
            </div> -->

    <div class="typeList ui_btn" data-action="goInPersonalStore">
        <div class="typeLogo myShop"></div>
        <div class="typeTitle">我的店铺</div>
    </div>

    <div class="typeList ui_btn" data-action="goInDistribution">
        <div class="typeLogo myDistribution"></div>
        <div class="typeTitle">我的分销店铺</div>
    </div>

    <div class="typeList Ubtn" data-motion="code">
        <div class="typeLogo myCode"></div>
        <div class="typeTitle">我的二维码</div>
    </div>

    <div class="typeList ui_btn" data-action="goInMy">
        <div class="typeLogo myDonation"></div>
        <div class="typeTitle " >爱心捐赠</div>
    </div>

    <div class="typeList ui_btn" data-action="recharge">
        <div class="typeLogo myRecharge"></div>
        <div class="typeTitle">充值</div>
    </div>

    <div class="typeList ui_btn" data-action="recharges">
        <div class="typeLogo" style="    background-image: url(images/dpsf.png);"></div>
        <div class="typeTitle">店铺身份</div>
    </div>

    <div class="typeList" id="fenxiang">
        <div class="typeLogo myShare"></div>
        <div class="typeTitle">分享</div>
    </div>

    <div class="typeList ui_btn" data-action="goInService">
        <div class="typeLogo myService"></div>
        <div class="typeTitle">客服</div>
    </div>
</div>

<!-- 分享 -->

<div class="mallShare">
    <div class="clos Ubtn" data-motion="closes">X</div>
    <div class="mall_img Ubtn" data-motion="xiala" id="cc"></div>
    <div class="mallShare_btn">分享</div>
</div>
<!-- 分享 -->
<div class="share" id="shareShow" style="display: block; height: 296px;">
    <div class="shareMethod">
        <div class="mTop" style="height: 55px;text-align: center;">
            <div class="shareTitle" style="line-height: 55px;color: #fff;font-size: 18px;">分享链接</div>
        </div>
        <div class="bottom">
            <div class="shareLogoFrame" style=" margin-left: 0px;">
                <div class="pic"></div>
                <span>QQ</span>
            </div>
            <div class="shareLogoFrame">
                <div class="pic"></div>
                <span>微信</span>
            </div>
        </div>
    </div>
    <div class="cancel" id="bgCancel">取消</div>
</div>
<!-- 分享 -->
<!-- 遮罩 -->
<div class="masks"></div>


<!-- 底部站位 -->
<div class="positionBottom"></div>