
<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>手机号
    </div>
    <div class="setAside grayMt bT bB">
        <div class="displayBox setBreadth" style="border-bottom: 0">
            <span>手机号</span>
            <div class="area_degree warp_Rg"><span id="mobile"></span></div>
        </div>
    </div>
    <div class="cancel ui_btn" data-action="replacePhone" style="margin-top: 35px">更换手机号</div>
    <input type="text" hidden="hidden" id="inputs">
</div>
