
<div class="recharge_warp">
    <div class="recharge_top">
        <div class="end" onclick="backPage()"></div>
        我的账单
    </div>
    <div class="myBill_month breadth mT bB">本月</div>
    <div class="myBillArea ui_btn" data-action="goInBillingDetails">
        <div class="myBillAreaDetails bB">
            <div class="myBill_dateHead warp_Lt">
                <span>今天</span>
                <span>12:25</span>
            </div>
            <div class="myBill_dateHead warp_Lt">
                <div class="myBill_datePic"></div>
            </div>
            <div class="myBillDetails">
                <p>+45    </p>
                <span class="warp_lC" style="-webkit-line-clamp:1">全新原装 佳能 EOS 705D套机 入门单反入门单反入门单反入门单反</span>
            </div>
        </div>
    </div>
    <div class="myBillArea">
        <div class="myBillAreaDetails bB">
            <div class="myBill_dateHead warp_Lt">
                <span>今天</span>
                <span>12:25</span>
            </div>
            <div class="myBill_dateHead warp_Lt">
                <div class="myBill_datePic"></div>
            </div>
            <div class="myBillDetails">
                <p>+45 <span class="myBill_wait">等待付款</span>    </p>
                <span class="warp_lC" style="-webkit-line-clamp:1">全新原装 佳能 EOS 705D套机 入门单反入门单反入门单反入门单反</span>
            </div>
        </div>
    </div>
    <div class="myBillArea">
        <div class="myBillAreaDetails bB">
            <div class="myBill_dateHead warp_Lt">
                <span>今天</span>
                <span>12:25</span>
            </div>
            <div class="myBill_dateHead warp_Lt">
                <div class="myBill_datePic"></div>
            </div>
            <div class="myBillDetails">
                <p>+45 <span class="myBill_wait">等待付款</span>    </p>
                <span class="warp_lC" style="-webkit-line-clamp:1">全新原装 佳能 EOS 705D套机 入门单反入门单反入门单反入门单反</span>
            </div>
        </div>
    </div>
    <div class="myBillArea">
        <div class="myBillAreaDetails bB">
            <div class="myBill_dateHead warp_Lt">
                <span>今天</span>
                <span>12:25</span>
            </div>
            <div class="myBill_dateHead warp_Lt">
                <div class="myBill_datePic"></div>
            </div>
            <div class="myBillDetails">
                <p>+45 <span class="myBill_wait">等待付款</span>    </p>
                <span class="warp_lC" style="-webkit-line-clamp:1">全新原装 佳能 EOS 705D套机 入门单反入门单反入门单反入门单反</span>
            </div>
        </div>
    </div>
    <div class="myBillArea">
        <div class="myBillAreaDetails bB">
            <div class="myBill_dateHead warp_Lt">
                <span>今天</span>
                <span>12:25</span>
            </div>
            <div class="myBill_dateHead warp_Lt">
                <div class="myBill_datePic"></div>
            </div>
            <div class="myBillDetails">
                <p>+45 <span class="myBill_wait">等待付款</span>    </p>
                <span class="warp_lC" style="-webkit-line-clamp:1">全新原装 佳能 EOS 705D套机 入门单反入门单反入门单反入门单反</span>
            </div>
        </div>
    </div>
</div>
