
	<div class="position" style=" height: 44px;"></div>
	
	<div class="cTop">
		<div class="return" onclick="backPage()"></div>
		我的朋友圈		
	</div>

	<div class="cHead">
		<div class="pic">
			<img src="images/storeDetails/head.png">
		</div>
		<div class="name">昵称</div>

		<div class="smData">
			<div class="cTitle fL">
					平台身份:创客
			</div>
			<div class="cTitle fR">
					获得的佣金:	1212	
			</div>
		</div>
	</div>

	<div class="cType">
		<div class="cTitle sc">创客</div>
		<div class="cTitle right">创客商</div>
	</div>
	<!-- 创客 -->
	<div class="numberList" style="display: block;" id="type0">
		<div class="cGrade">
			<div class="gradeType sc" data-side="1">1一级(人数)</div>
			<div class="gradeType center" data-side="2"> 二级(人数)</div>
			<div class="gradeType" data-side="3"> 三级(人数)</div>
		</div>
		<div class="list_sort" style="display: block;" id="side1">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">1昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>
		</div>
		<div class="list_sort" id="side2">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">12昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>
		</div>
		<div class="list_sort" id="side3">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">13昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>
		</div>
	</div> 
	<!-- 创客 -->


	<!-- 创客商 -->
	<div class="numberList" id="type1">
		<div class="cGrade">
			<div class="gradeType sc" data-sides="1">1一级(人数)</div>
			<div class="gradeType center" data-sides="2"> 二级(人数)</div>
			<div class="gradeType" data-sides="3"> 三级(人数)</div>
		</div>
		<div class="list_sort" style="display: block;" id="sides1">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">21昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>
		</div>
		<div class="list_sort" id="sides2">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">22昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>
		</div>
		<div class="list_sort" id="sides3">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">23昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>
		</div>
	</div>
	<!-- 创客商 -->

<!--<script type="text/javascript" src="js/tool/jquery-1.11.3.min.js"></script>-->
<!--<script type="text/javascript" src="js/tool/aggregate.js"></script>-->
<!--<script type="text/javascript">-->
	<!--$(function(){-->
	    <!--$(document).on('touchstart','.cType div',function(){-->
	        <!--var type = $(this).index();-->
	        <!--if(type=='0'){-->
	            <!--$('.cType div').removeClass('sc');-->
	            <!--$(this).addClass('sc');-->
	            <!--$('.numberList').hide();-->
				<!--$('#type0').show();-->
			<!--}else{-->
                <!--$('.cType div').removeClass('sc');-->
                <!--$(this).addClass('sc');-->
                <!--$('.numberList').hide();-->
                <!--$('#type1').show();-->
			<!--}-->
		<!--});-->
		<!--for(var i=0;i<$('#type0 .cGrade div').length;i++){-->
            <!--$('#type0 .cGrade div')[i].onclick = function(){-->
                <!--$('#type0 .gradeType').removeClass('sc');-->
                <!--$(this).addClass('sc');-->
                <!--var side = $(this).data('side');-->
                <!--$('#type0 .list_sort').hide();-->
                <!--$('#side'+side).show();-->
			<!--}-->
		<!--}-->
        <!--for(var j=0;j<$('#type1 .cGrade div').length;j++){-->
            <!--$('#type1 .cGrade div')[j].onclick = function(){-->
                <!--$('#type1 .gradeType').removeClass('sc');-->
                <!--$(this).addClass('sc');-->
                <!--var sides = $(this).data('sides');-->
                <!--$('#type1 .list_sort').hide();-->
                <!--$('#sides'+sides).show();-->
            <!--}-->
        <!--}-->
	<!--});-->
<!--</script>-->
