
<div class="position" style=" height: 80px;"></div>

<div class="mcTop">
	<div class="return" onclick="backPage()"></div>
	我的收藏
	<div class="edit eYes ui_btn" data-action="edit">编辑</div>
</div>

<div class="CollectionType">
	<div class="type commodity fL ui_btn" data-action="type_commodity" data-motion="" style="color: red;">商品(10)</div>
	<div class="type business fL ui_btn" data-action="type_business" >商家(12)</div>
</div>


<div class="type_tab" id="side1" style="display: block;">
	<div class="shareCommodity">

		<div class="paragraph " >
			<div class="but wYes fL ui_btn" data-action="select"  style="display: none;"></div>
			<div class="wholeSelect wYes fL">
				最近收藏
			</div>
		</div>

		<div class="list">
			<div class="select fL ">
				<div class="but wYes  ui_btn" data-action="single"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="content fL">
					<div class="title">控油极男水油平衡</div>
					<div class="introduce">男士护肤品套装控油极男水油平衡套装补水保湿爽肤水</div>
					<div class="salesVolume">
						<span class="fL">￥300</span>
					</div>
				</div>
				<div class="more fR ui_btn" data-action="more" >
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="list">
			<div class="select fL ">
				<div class="but wYes  ui_btn" data-action="single"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="content fL">
					<div class="title">控油极男水油平衡</div>
					<div class="introduce">男士护肤品套装控油极男水油平衡套装补水保湿爽肤水</div>
					<div class="salesVolume">
						<span class="fL">￥300</span>
					</div>
				</div>
				<div class="more fR ui_btn" data-action="more" >
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="list">
			<div class="select fL ">
				<div class="but wYes  ui_btn" data-action="single"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="content fL">
					<div class="title">控油极男水油平衡</div>
					<div class="introduce">男士护肤品套装控油极男水油平衡套装补水保湿爽肤水</div>
					<div class="salesVolume">
						<span class="fL">￥300</span>
					</div>
				</div>
				<div class="more fR ui_btn" data-action="more" >
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

	</div>
	<div class="shareCommodity">

		<div class="paragraph " >
			<div class="but wYes fL ui_btn" data-action="select" style="display: none;"></div>
			<div class="wholeSelect wYes fL">
				两个月前收藏
			</div>
		</div>

		<div class="list">
			<div class="select fL ">
				<div class="but wYes ui_btn" data-action="single"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="content fL">
					<div class="title">控油极男水油平衡</div>
					<div class="introduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<div class="salesVolume">
						<span class="fL">￥300</span>
					</div>
				</div>
				<div class="more fR ui_btn" data-action="more">
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="list">
			<div class="select fL ">
				<div class="but wYes ui_btn" data-action="single"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="content fL">
					<div class="title">控油极男水油平衡</div>
					<div class="introduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<div class="salesVolume">
						<span class="fL">￥300</span>
					</div>
				</div>
				<div class="more fR ui_btn" data-action="more">
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="list">
			<div class="select fL ">
				<div class="but wYes ui_btn" data-action="single"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="content fL">
					<div class="title">控油极男水油平衡</div>
					<div class="introduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<div class="salesVolume">
						<span class="fL">￥300</span>
					</div>
				</div>
				<div class="more fR ui_btn" data-action="more">
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

	</div>
</div>
<div class="type_tab" id="side2">
	<div class="shareCommodity">

		<div class="list">
			<div class="select fL ">
				<div class="but wYes ui_btn" data-action="single"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="content fL">
					<div class="title">控油极男水油平衡</div>
					<div class="introduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<!-- 					<div class="salesVolume">
                                            <span class="fL">￥300</span>
                                        </div> -->
				</div>
				<div class="more fR ui_btn" data-action="more">
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="list">
			<div class="select fL ">
				<div class="but wYes ui_btn" data-action="single"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="content fL">
					<div class="title">控油极男水油平衡</div>
					<div class="introduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<!-- 					<div class="salesVolume">
                                            <span class="fL">￥300</span>
                                        </div> -->
				</div>
				<div class="more fR ui_btn" data-action="more">
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="list">
			<div class="select fL ">
				<div class="but wYes ui_btn" data-action="single"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="content fL">
					<div class="title">控油极男水油平衡</div>
					<div class="introduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<!-- 					<div class="salesVolume">
                                            <span class="fL">￥300</span>
                                        </div> -->
				</div>
				<div class="more fR ui_btn" data-action="more">
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="list">
			<div class="select fL ">
				<div class="but wYes ui_btn" data-action="single"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="content fL">
					<div class="title">控油极男水油平衡</div>
					<div class="introduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<!-- 					<div class="salesVolume">
                                            <span class="fL">￥300</span>
                                        </div> -->
				</div>
				<div class="more fR ui_btn" data-action="more">
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>


	</div>
</div>




<div class="editWhole" style=" display: none;">
	<div class="wholeDelete fL">删除</div>
</div>

<div class="positionBottom" style=" display: none;"></div>


<!-- 更多 -->
<div class="moreModules" style="display: none;">
	<div class="moreModulesType">
		<div class="type"></div>
		<div class="type" style=" margin:0 10px;"></div>
		<div class="type"></div>
	</div>
	<div class="mcCancel ui_btn" data-action="cancel" >取消</div>
</div>

<!-- 遮罩 -->
<div class="bgMask ui_btn" data-action="cancel" id="bgMask" style="display: none;"></div>
<!-- 遮罩 -->
<!--顶层遮罩、用于阻止删除事件-->
<div id="top_fixed" class="ui_btn" data-action="fixed"></div>
<div id="bottom_fixed" class="ui_btn" data-action="b_fixed" ></div>


<!--<script type="text/javascript">-->
	<!--addEventListener();-->


	<!--//编辑-->
	<!--function edit(btn){-->
		<!--$('.list').css('left','0');-->
		<!--if($(btn).hasClass('eYes')){-->
			<!--$('#bottom_fixed').show();-->
			<!--$(btn).text("完成");-->
			<!--$('.list').css("margin-left", "10%");-->
			<!--$(btn).removeClass('eYes');-->
			<!--$('.editWhole').show();-->
			<!--$('.positionBottom').show();-->

			<!--$('.CollectionType').hide();-->
			<!--$('.position').css("height", '44px');-->
			<!--$('.but').show();-->

		<!--}else{-->
			<!--$('#bottom_fixed').hide();-->
			<!--$(btn).text("编辑");-->
			<!--$('.list').css("margin-left", "0%");-->
			<!--$(btn).addClass('eYes');-->
			<!--$('.editWhole').hide();-->
			<!--$('.positionBottom').hide();-->
			<!--$('.paragraph').removeClass('btn');-->

			<!--$('.but').hide();-->

			<!--$('.CollectionType').show();-->
			<!--$('.position').css("height", '78px');-->

			<!--$('.paragraph').children('.but ').css('background-image', 'url(images/storeDetails/noChoice.png)');-->
			<!--$('.list .select .but').css('background-image', 'url(images/storeDetails/noChoice.png)');-->
		<!--}-->
	<!--}-->

	<!--//全选-->
	<!--function select(btn){-->
		<!--if($(btn).hasClass('wYes')){-->
			<!--$(btn).parent('.paragraph').siblings('.list').find('.but').css('background-image','url(images/storeDetails/choice.png)');-->
			<!--$(btn).css('background-image','url(images/storeDetails/choice.png)');-->
			<!--$(btn).removeClass('wYes');-->
			<!--$(btn).parent('.paragraph').siblings('.list').children('.select').find('div').removeClass('wYes');-->
		<!--}else{-->
			<!--$(btn).parent('.paragraph').siblings('.list').find('.but').css('background-image','url(images/storeDetails/noChoice.png)');-->
			<!--$(btn).css('background-image','url(images/storeDetails/noChoice.png)');-->
			<!--$(btn).addClass('wYes');-->
		<!--}-->
	<!--}-->

	<!--//单个-->
	<!--function single(btn){-->
		<!--if($(btn).hasClass('wYes')){-->
			<!--$(btn).css('background-image','url(images/storeDetails/choice.png)');-->
			<!--$(btn).removeClass('wYes');-->
		<!--}else{-->
			<!--$(btn).css('background-image','url(images/storeDetails/noChoice.png)');-->
			<!--$(btn).addClass('wYes');-->
			<!--$(btn).parent().parent().siblings('.paragraph').children('.but').css('background-image','url(images/storeDetails/noChoice.png)');-->
		<!--}-->
	<!--}-->

	<!--//更多-->
	<!--function more(btn){-->
		<!--$('.moreModules').show();-->
		<!--$('.bgMask').show();-->
	<!--}-->

	<!--//取消-->
	<!--function cancel(){-->
		<!--$('.moreModules').hide();-->
		<!--$('.bgMask').hide();-->
	<!--}-->

	<!--/////////////////////切换事件/////////////////////////////-->
	<!--function type_commodity(){-->
		<!--$('.type_tab').hide();-->
		<!--$('#side1').show();-->
		<!--$('.CollectionType .commodity').css({'color':'red'});-->
		<!--$('.CollectionType .business').css({'color':'#333'});-->
	<!--}-->
	<!--function type_business(){-->
		<!--$('.type_tab').hide();-->
		<!--$('#side2').show();-->
		<!--$('.CollectionType .commodity').css({'color':'#333'});-->
		<!--$('.CollectionType .business').css({'color':'red'});-->
	<!--}-->

	<!--/////////////////////滑动事件/////////////////////////////-->
	<!--var container = document.querySelectorAll('.list');-->
	<!--for(var i=0; i<container.length; i++) {-->

		<!--var x, y, X, Y, swipeX, swipeY;-->

		<!--container[i].addEventListener('touchstart', function(event) {-->
			<!--x = event.changedTouches[0].pageX;-->
			<!--y = event.changedTouches[0].pageY;-->
			<!--swipeX = true;-->
			<!--swipeY = true ;-->
		<!--});-->

		<!--container[i].addEventListener('touchmove', function(event) {-->

			<!--X = event.changedTouches[0].pageX;-->
			<!--Y = event.changedTouches[0].pageY;-->

			<!--// 左右滑动-->
			<!--if(swipeX && Math.abs(X-x) - Math.abs(Y-y) > 0) {-->

				<!--// 阻止事件冒泡-->
				<!--event.stopPropagation();-->
				<!--$('.list').css('left','0');-->
				<!--if(X - x > 10) {-->
					<!--event.preventDefault();-->
					<!--this.style.left = '0px';-->
				<!--}-->
				<!--if(x - X > 10) {-->
					<!--event.preventDefault();-->
					<!--this.style.left = '-15%';-->
				<!--}-->
				<!--swipeY = false;-->
			<!--}-->

			<!--// 上下滑动-->
			<!--if(swipeY && Math.abs(X-x) - Math.abs(Y-y) < 0) {-->
				<!--swipeX = false;-->
			<!--}-->

		<!--});-->

	<!--}-->
	<!--//阻止删除事件过多代替冒泡-->
	<!--function fixed(){-->
		<!--$('#top_fixed').hide();-->
		<!--$('.list').css({'margin-left':'0'});-->
	<!--}-->
	<!--////-->
	<!--$(document).on('touchstart','.singleDelete',function(){-->
		<!--$(this).parent().remove();-->
	<!--});-->

	<!--//	$(document).on('touchstart','.shareCommodity .list',function(){-->
	<!--//	    location.href = 'http://www.baidu.com'-->
	<!--//	});-->
<!--</script>-->
