
	<div class="top">
		<div class="return" onclick="backPage()"></div>
		我的金豆
	</div>

	<div class="position" style=" height: 44px;"></div>

	<div class="rechargeType">
		<div class="typeBox">
			<div class="pic"><img src="images/mine/ticket.png"></div>
			<div class="number">0张</div>
			<div class="name">便付券</div>
			<div class="operation"><span class="fL ui_btn" data-action="zhuanzheng">转赠</span><span class="fR ui_btn" data-action="lookup">查看</span></div>
		</div>
		<div class="line"></div>
		<div class="typeBox">
			<div class="pic"><img src="images/mine/ImazamoxT.png"></div>
			<div class="number">0颗</div>
			<div class="name">我的金豆</div>
			<div class="operation ui_btn" data-action="exchange">兑换</div>
		</div>
	</div>


	<div class="rechargeMoney">
		<div class="miHint">金额</div>
		<div class="import">
			<input type="number" name="" placeholder="请输入金额">
		</div>
	</div>

	<div class="rechargebtn ui_btn" data-action="handsel">我要充值</div>



	<!-- 充值方式 -->
	<div class="rechargeMode">
		<div class="title">充值方式</div>

		<div class="mode">
			<div class="miLogo">
				<img src="images/mine/wx.png">
			</div>
			<div class="name">微信充值</div>
		</div>

		<div class="mode">
			<div class="miLogo">
				<img src="images/mine/zfb.png">
			</div>
			<div class="name">支付宝充值</div>
		</div>

		<div class="mode">
			<div class="miLogo">
				<img src="images/mine/zhye.png">
			</div>
			<div class="name">账户余额充值</div>
		</div>


		<div class="rechargeCancel ui_btn" data-action="cancel_no">取消</div>

	</div>


	<!-- 转赠 -->
	<div class="donation">
		<div class="donationIn">
			<input type="text" name="" placeholder="赠送人账号">
		</div>

		<div class="donationIn">
			<input type="text" name="" placeholder="赠送数量">
		</div>

		<div class="miCancel ui_btn" data-action="cancel" >取消</div>
		<div class="confirm">赠送</div>
	</div>


	<!-- 遮罩 -->
	<div class="miMask"></div>

	<!--<script src="js/tool/jquery-1.11.3.min.js"></script>-->
	<!--<script src="js/tool/aggregate.js"></script>-->
	<!--<script src="js/tong_js.js"></script>-->

