	<div class="position" style="height: 44px;"></div>

	<div class="mscTop">
		<div class="return" onclick="backPage()"></div>
		我的分享商品
		<div class="edit eYes">编辑</div>
	</div>


	<div class="shareCommodity">
		<div class="mscList">
			<div class="select wYes fL">
				<div class="but"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="mscContent fL">
					<div class="mscTitle">控油极男水油平衡</div>
					<div class="mscIntroduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<div class="salesVolume">
						<span class="fL">销量：177</span>
						<span class="fR">2017.03.22</span>
					</div>
				</div>
				<div class="obtain fR">
					￥120
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="mscList">
			<div class="select fL">
				<div class="but"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="mscContent fL">
					<div class="mscTitle">控油极男水油平衡</div>
					<div class="mscIntroduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<div class="salesVolume">
						<span class="fL">销量：177</span>
						<span class="fR">2017.03.22</span>
					</div>
				</div>
				<div class="obtain fR">
					￥120
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="mscList">
			<div class="select fL">
				<div class="but"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="mscContent fL">
					<div class="mscTitle">控油极男水油平衡</div>
					<div class="mscIntroduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<div class="salesVolume">
						<span class="fL">销量：177</span>
						<span class="fR">2017.03.22</span>
					</div>
				</div>
				<div class="obtain fR">
					￥120
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="mscList">
			<div class="select fL">
				<div class="but"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="mscContent fL">
					<div class="mscTitle">控油极男水油平衡</div>
					<div class="mscIntroduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<div class="salesVolume">
						<span class="fL">销量：177</span>
						<span class="fR">2017.03.22</span>
					</div>
				</div>
				<div class="obtain fR">
					￥120
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="mscList">
			<div class="select fL">
				<div class="but"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="mscContent fL">
					<div class="mscTitle">控油极男水油平衡</div>
					<div class="mscIntroduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<div class="salesVolume">
						<span class="fL">销量：177</span>
						<span class="fR">2017.03.22</span>
					</div>
				</div>
				<div class="obtain fR">
					￥120
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>


		<div class="mscList">
			<div class="select fL">
				<div class="but"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="mscContent fL">
					<div class="mscTitle">控油极男水油平衡</div>
					<div class="mscIntroduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<div class="salesVolume">
						<span class="fL">销量：177</span>
						<span class="fR">2017.03.22</span>
					</div>
				</div>
				<div class="obtain fR">
					￥120
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="mscList">
			<div class="select fL">
				<div class="but"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="mscContent fL">
					<div class="mscTitle">控油极男水油平衡</div>
					<div class="mscIntroduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<div class="salesVolume">
						<span class="fL">销量：177</span>
						<span class="fR">2017.03.22</span>
					</div>
				</div>
				<div class="obtain fR">
					￥120
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>

		<div class="mscList">
			<div class="select fL">
				<div class="but"></div>
			</div>
			<div class="commodity fL">
				<div class="pic fL">
					<img src="images/storeDetails/sharePic.png">
				</div>
				<div class="mscContent fL">
					<div class="mscTitle">控油极男水油平衡</div>
					<div class="mscIntroduce">
						男士护肤品套装控油极男水油平衡套装补水保湿爽肤水
					</div>
					<div class="salesVolume">
						<span class="fL">销量：177</span>
						<span class="fR">2017.03.22</span>
					</div>
				</div>
				<div class="obtain fR">
					￥120
				</div>
			</div>
			<div class="singleDelete">删除</div>
		</div>
	</div>

	<div class="editWhole" style=" display: none;">
		<div class="wholeSelect wYes fL">
			<div class="but"></div>
			全选
		</div>
		<div class="wholeDelete fL">删除</div>
	</div>

	<div class="positionBottom" style=" display: none;"></div>

<!--<script type="text/javascript"  src="js/tool/jquery-1.11.3.min.js"></script>-->
<!--<script type="text/javascript"  src="js/myShareCommodity.js"></script>-->
