
	<div class="position" style=" height: 44px;"></div>

	<div class="top">
		<div class="return" onclick="backPage()"></div>
		我的上级
		<!-- <div class="edit eYes btn" data-motion="edit">筛选</div> -->
	</div>

	<div class="msHead">
		<div class="pic"></div>
		<div class="name">
			<span></span>
			<p></p>
		</div>
	</div>

	<div class="superiorData">
		<div class="msList name">
			<div class="left">姓名</div>
			<div class="right"></div>


		</div>
		<div class="msList mobile">
			<div class="left">手机号</div>
			<div class="right"></div>
		</div>
		<div class="msList level">
			<div class="left">会员等级</div>
			<div class="right"></div>
		</div>
	</div>

