
	<div class="position" style="height: 44px;"></div>
	<!-- 头部 -->
	<div class="mmTop">
		<div class="return" onclick="backPage()"></div>
		我的钱包
		<div class="mmBill ui_btn" data-action="zd">账单</div>
	</div>

	<div class="totalAmount">
		<div class="title">总金额(元)</div>
		<div class="mmNumber"></div>
	</div>

	<div class="moneyType">
		<div class="typeBox">
			<div class="number" id="ky"></div>
			<div class="typeNmae">可提现余额</div>
		</div>
		<div class="typeBox">
			<div class="number" id="dj"></div>
			<div class="typeNmae">冻结余额</div>
		</div>
	</div>

	<div class="walletBottom">
		<div class="button ui_btn" data-action="goInWithdraw">提现</div>
		<div class="button recharge ui_btn" data-action="goInWantToRecharge">充值</div>
	</div>
