<div class="store_warp">
    <div class="sweepTheFace_top partake_top breadth">
        <div class="sweepQuite ui_btn" data-action="partake_off"></div>
        <span>吸引力</span>
        <p class="warp_lC">Edifier/漫步者 R12U台式电脑音响低音炮手机迷你笔 记本小音箱USB...</p>
        <span style="font-size: .75rem;color:#FF0000">¥<y style="font-size:1rem">40.00</y></span>
    </div>
    <div class="partake_nav">
        <img src="images/store/long.png" alt="">
    </div>
    <!--分享后弹出框-->
    <div class="partakeShareBox sweepTheFace_top" style="display: none">
        <div class="sweepQuite"></div>
        <div class="shareBox_nav"></div>
        <p>图片已保存至本地相册</p>
        <div class="shadeTxt">
            <span>去微信发给好友</span>
        </div>
    </div>
    <div class="partake_core">
        <img src="" alt="" class="code">
        <p>长按识别二维码，选择浏览器打开即可查看</p>
    </div>
</div>
<div class="partake_foot">
    <p style="color: #FF0000">分享此图给好友吧</p>
    <div class="partake_share">
        <div class="partake_area">
            <img src="" alt="" class="partakeIcon">
            <p>微信</p>
        </div>
        <div class="partake_area">
            <img src="" alt="" class="partakeIcon">
            <p>QQ</p>
        </div>
    </div>
</div>
<!--<script type="text/javascript">-->
    <!--$(".partake_area:first-child").click(function () {-->
        <!--$(".partakeShareBox").show();-->
    <!--});-->
    <!--$(".partakeShareBox .sweepQuite").click(function () {-->
        <!--$(".partakeShareBox").hide();-->
    <!--});-->
    <!--$(".partake_area:nth-child(2)").click(function () {-->
        <!--$(".partakeShareBox").show();-->
        <!--$(".shadeTxt span").html("去QQ发给好友");-->
    <!--})-->
<!--</script>-->