
<div class="setUp_warp">
    <!--头部-->
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>密码重置
    </div>
    <div class="setAside grayMt bT">
        <div class="displayBox setBreadth  ui_btn" data-action="goInPaySet">
            <span>重置支付密码</span>
            <div class="quite about_hT warp_Rg"></div>
        </div>
        <div class="displayBox setBreadth ui_btn" data-action="goInSignSet">
            <span>重置登录密码</span>
            <div class="quite about_hT warp_Rg"></div>
        </div>
    </div>
</div>
