
	<div class="pcTop">
		<div class="logo" onclick="backPage()"></div>
		个人中心
	</div>

	<!-- 头部 -->
	<div class="pcHead ui_btn" data-action="personalData">
		<div class="pic fL" id="user_img">
		</div>
		<div class="information fL" id="user_xinxi">
			<span class="name"></span>
			<span class="type"></span>
			<div class="pcNnumber"></div>
		</div>
		<div class="pcGoIn fR">
			
		</div>
	</div>

	<div class="pcMyList">
		<div class="pcList ui_btn" data-action="goInMyBankCard">
			<div class="bankCard fL"></div>
			<div class="pcTitle fL">我的银行卡</div>
			<div class="pcGoIn fR"></div>
		</div>

		<div class="pcList ui_btn" data-action="goInMyFriends">
			<div class="friend fL"></div>
			<div class="pcTitle fL">我的朋友圈</div>
			<div class="pcGoIn fR"></div>
		</div>

		<div class="pcList ui_btn" data-action="goInCollection">
			<div class="distribution fL"></div>
			<div class="pcTitle fL">我的收藏</div>
			<div class="pcGoIn fR"></div>
		</div>

		<div class="pcList ui_btn" data-action="goInShare">
			<div class="pcShare fL"></div>
			<div class="pcTitle fL">我的分享</div>
			<div class="pcGoIn fR"></div>
		</div>



	</div>
