    <div class="top">
        <div class="return" onclick="backPage()"></div>
        个人资料
    </div>
    <div class="pd_boxTop" style="padding-top: 45px;">
        <div class="pd_head">
            <div class="pd_left">头像</div>
            <div class="pd_right" id="img-head-input">
                <div id="localImag" ><img src="" id="preview" alt="" style="vertical-align:top;height:37px;"/></div>
                <input type="file" id="doc" name="file"  class="img-head-input"   style="position: absolute;width:37px;height:37px;top:0;right:0;opacity: 0;"/>
            </div>
        </div>
        <script>

        </script>
        <div class="pd_data">
            <div class="pd_left">昵称</div>
            <div style="width:40px;height:40px;float:right;"></div>
            <div  class="pd_prompt"><input type="text" class="pd_input" id="name"></div>
        </div>

        <div class="pd_data">
            <div class="pd_left">性别</div>
            <div style="width:40px;height:40px;float:right;"></div>
            <div  class="pd_prompt"><input type="text" class="pd_input" id="sex" value="男"></div>
        </div>

        <div class="pd_data">
            <div class="pd_left">地区</div>
            <div class="pd_goIn"></div>
            <div class="content-block pd_prompt">
                <input id="demo1" type="text" readonly="" placeholder="城市选择特效"  value="浙江省,杭州市" >
                <input id="value1" type="hidden" value="20,234,504">
            </div>
        </div>

        <div class="pd_data">
            <div class="pd_left">实名认证</div>
            <div class="pd_goIn"></div>
            <div class="pd_prompt">未认证</div>
        </div>

    </div>


    <div class="pd_boxTop">

        <div class="pd_data">
            <div class="pd_left">星座</div>
            <!--<div class="goIn"></div>-->
            <div class="pd_prompt mar_right"><input type="text" class="pd_input" id="constellation"></div>
        </div>

        <div class="pd_data">
            <div class="pd_left">身高</div>
            <!--<div class="goIn"></div>-->
            <div class="pd_prompt mar_right"><input type="text" class="pd_input" id="height"></div>
        </div>

        <div class="pd_data">
            <div class="pd_left">体重</div>
            <!--<div class="goIn"></div>-->
            <div class="pd_prompt mar_right"><input type="text" class="pd_input" id="weight"></div>
        </div>


    </div>

    <div class="pd_preservation ui_btn" data-action="pd_preservations">保存</div>



    <!--<div id="fixeds" style="position: fixed;background: rgba(0,0,0,.5);top:0;left:0;z-index: 999;width:100%;height:100%;display: none;">-->
        <!--<div id="fixeds_sex" style="    width: 90%;background: #fff;margin: auto;top: 50%;position: relative;transform: translateY(-50%);border-radius: 12px;text-align: center;">-->
            <!--<p style="    font-size: 20px;text-align: center;padding: 20px 0;">请选择您的性别</p>-->
            <!--<div style="color: #000;text-align: center;" id="sexss">-->
                <!--<label style="font-size: 16px;margin: 0 20px;" for="nan"><input type="radio" name="sex" id="nan" value="1" checked="checked">男</label>-->
                <!--<label style="font-size: 16px;margin: 0 20px;" for="nv"><input type="radio" name="sex" id="nv" value="2">女</label>-->
            <!--</div>-->
            <!--<div style="padding: 15px 0;">-->
                <!--<span style="font-size: 16px;margin: 0 20px;display: inline-block;color: #fff;width:20%;height:30px;line-height: 30px;border-radius: 8px;background:#007cc3; " id="success" class="ui_btn" data-action="successs">确定</span>-->
                <!--<span style="font-size: 16px;margin: 0 20px;display: inline-block;color: #fff;width:20%;height:30px;line-height: 30px;border-radius: 8px;background:#007cc3; " id="cancel" class="ui_btn" data-action="cancals">取消</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


