
	<!--<div class="distributionHead">个人店铺</div>-->
	<!-- 头部 -->
	<div class="mmTop">
		<div class="return" onclick="backPage()"></div>
		个人店铺
	</div>

	<div class="position" style="height:44px;"></div>

	<div class="storeIntroduce">
		<div class="storeLogo"></div>
		<div class="Introduce">
			<div class="storeName">店铺名字</div>
			<div class="storeIdentity">我的店铺身份：联创</div>
			<div class="storeIndustry">行业</div>
		</div>
	</div>

	<div class="storeData">
		<div class="dataDetails">
			<div class="detailsTitle">订单数</div>
			<div class="content">1212121</div>
		</div>

		
		<div class="dataDetails" style=" border-right: 0px;">
			<div class="line"></div>
			<div class="detailsTitle">退款中</div>
			<div class="content">1212121</div>
		</div>

		<div class="dataDetails">
			<div class="detailsTitle">待付款</div>
			<div class="content">1212121</div>
		</div>

		<div class="dataDetails" style=" border-right: 0px;">
			<div class="line"></div>
			<div class="detailsTitle">代发货</div>
			<div class="content">1212121</div>
		</div>

		<div class="dataDetails">
			<div class="detailsTitle">出售中</div>
			<div class="content">1212121</div>
		</div>

		<div class="dataDetails" style=" border-right: 0px;">
			<div class="line"></div>
			<div class="detailsTitle">成交额</div>
			<div class="content">1212121</div>
		</div>

		<div class="dataDetails">
			<div class="detailsTitle">今日访客</div>
			<div class="content">1212121</div>
		</div>

		<div class="dataDetails" style=" border-right: 0px;">
			<div class="line"></div>
			<div class="detailsTitle">今日流量</div>
			<div class="content">1212121</div>
		</div>
	</div>
