
<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end"  onclick="backPage()"></div>隐私
    </div>
    <div class="area_aside grayMt">
        <div class="displayBox breadth">
            <span class="warp_Lt">允许通过邮箱找到我</span>
            <div class="defray warp_Rg">
                <div class="set_circle warp_Rg"></div>
            </div>
        </div>
        <div class="displayBox breadth">
            <span>允许通过手机号找到我</span>
            <div class="defray warp_Rg change">
                <div class="set_circle warp_Lt"></div>
            </div>
        </div>
    </div>
</div>

<!--<script type="text/javascript">-->
    <!--$(document).ready(function(){-->
        <!--$(".set_circle").click(function(){-->
            <!--if($(this).hasClass("warp_Rg")) {-->
                <!--$(this).removeClass("warp_Rg");-->
                <!--$(this).addClass("warp_Lt");-->
                <!--$(this).parent(".defray").addClass("change");-->
            <!--}else {-->
                <!--$(this).addClass("warp_Rg");-->
                <!--$(this).removeClass("warp_Lt");-->
                <!--$(this).parent(".defray").removeClass("change");-->
            <!--}-->

        <!--});-->

    <!--});-->
<!--</script>-->
