
<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>重置登录密码
    </div>
    <div class="resetting grayMt bT bB">
        <span>您是否记得账号 <span style="font-size: 1rem;color: #333"> 123****8989</span></span>
        <span>当前使用的登录密码</span>
    </div>
    <div class="resetting" style="background-color: #f7f7f7">
        <div class="remember warp_Lt ui_btn" data-action="goInNo">
            <div class="mind">不记得</div>
        </div>
        <div class="remember warp_Rg ui_btn" data-action="goInYes">
            <div class="mind forget">记得</div>
        </div>
    </div>

</div>
