
<div class="mine_warp">
    <!--头部-->
    <div class="store_top" >
        <div class="end"  onclick="backPage()"  id="fs" ></div>
        <span>退款/售后</span>
    </div>
    <!--售后-->
    <div class="toBeEvaluated mT">
        <div class="shoppingCart_wareArea">
            <!--头部店铺选择-->
            <div class="shoppingCart_wareStore">
                <div class="shop"></div>
                <span class="warp_Lt">店铺名</span>
                <div class="quiet"></div>
                <span class="warp_Rg myOrder_reveal" >交易成功</span> </div>
            <!--商品属性展示区-->
            <div class="shoppingCart_wareDetails" style="height: 105px">
                <div class="shoppingCart_wareDetailTxt">
                    <div class="print"></div>
                    <div class="shoppingCart_wareTxt">
                        <div class="myOrder_revealArea warp_Lt" style="width: 70%">
                            <span class="warp_lC" style="height: 30px;">控油极男水油平衡套装男士护肤品套装控油极男水油平衡套</span>
                            <span style="color: #cccccc;display: block">颜色分类：黑色</span>
                            <div class="myOrder_quality warp_Lt">七天包退</div><span class="warp_Rg" style="font-size:.75rem;color:#E60012">退款金额：¥40.00</span>
                        </div>

                    </div>
                </div>
            </div>
            <!--结算区-->
            <div class="myOrder_settlementArea bB" style="text-align: left;padding-left: 10%;">仅退款  退款成功</div>
            <div class="myOrder_settlementArea breadth" style="padding-top: 3px;height: 32px;">
                <div class="settlementBtn warp_Rg changeBtn">查看物流</div>
            </div>
        </div>

    </div>
    <!--售后-->
    <div class="toBeEvaluated">
        <div class="shoppingCart_wareArea">
            <!--头部店铺选择-->
            <div class="shoppingCart_wareStore">
                <div class="shop"></div>
                <span class="warp_Lt">店铺名</span>
                <div class="quiet"></div>
                <span class="warp_Rg myOrder_reveal" >交易成功</span> </div>
            <!--商品属性展示区-->
            <div class="shoppingCart_wareDetails" style="height: 105px">
                <div class="shoppingCart_wareDetailTxt">
                    <div class="print"></div>
                    <div class="shoppingCart_wareTxt">
                        <div class="myOrder_revealArea warp_Lt"style="width: 70%">
                            <span class="warp_lC" style="height: 30px;">控油极男水油平衡套装男士护肤品套装控油极男水油平衡套</span>
                            <span style="color: #cccccc;display: block">颜色分类：黑色</span>
                            <div class="myOrder_quality warp_Lt">七天包退</div><span class="warp_Rg" style="font-size:.75rem;color:#E60012">退款金额：¥40.00</span>
                        </div>

                    </div>
                </div>
            </div>
            <!--结算区-->
            <div class="myOrder_settlementArea bB" style="text-align: left;padding-left: 10%;">仅退款  退款成功</div>
            <div class="myOrder_settlementArea breadth" style="padding-top: 3px;height: 32px;">
                <div class="settlementBtn warp_Rg changeBtn">查看详情</div>
                <div class="settlementBtn warp_Rg">查看物流</div>
            </div>
        </div>

    </div>
</div>

<!--<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>-->
<!--<script type="text/javascript">-->
    <!--$(document).ready(function(){-->
        <!--$(".settlementBtn").click(function(){-->
            <!--$(this).parent(".myOrder_settlementArea").find(".settlementBtn").removeClass("changeBtn");-->
            <!--$(this).addClass("changeBtn")-->
        <!--});-->
    <!--});-->
<!--</script>-->
