

<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>设置
    </div>
    <div class="area_aside grayMt">
        <div class="displayBox breadth ui_btn" data-action="goInAccountSecurity">
            <span class="warp_Lt">账户安全</span>
            <div class="quite about_hT warp_Rg"></div>
        </div>
        <div class="displayBox breadth">
            <span>手机号</span>
            <div class="accountSecurity_degree warp_Rg"style="background-image: none;padding-right: 0"><span id="mobile"></span></div>
        </div>
        <div class="displayBox breadth ui_btn" data-action="goInPaymentSet">
            <span>支付设置</span>
            <div class="quite about_hT warp_Rg"></div>
        </div>
        <div class="displayBox breadth ui_btn" data-action="goInPasswordSet">
            <span>密码设置</span>
            <div class="quite about_hT warp_Rg"></div>
        </div>
    </div>
    <div class="area_aside" style="margin-top: 15px;">
        <div class="displayBox breadth ui_btn" data-action="goInNews">
            <span>新消息通知</span>
            <div class="quite about_hT warp_Rg"></div>
        </div>
        <div class="displayBox breadth ui_btn" data-action="goInPrivacy">
            <span>隐私</span>
            <div class="quite about_hT warp_Rg"></div>
        </div>
        <div class="displayBox breadth ui_btn" data-action="goInGeneral">
            <span>通用</span>
            <div class="quite about_hT warp_Rg"></div>
        </div>

    </div>
    <div class="area_aside ui_btn" data-action="goInAbout" style="margin-top: 15px;">
        <div class="displayBox breadth">
            <span>关于</span>
            <div class="quite about_hT warp_Rg"></div>
        </div>
    </div>
</div>
<div class="set_end ui_btn" data-action="login_out">退出登录</div>
