
<div class="mine_warp"> 
  <!--头部-->
  <div class="store_top" >
    <div class="end" onclick="backPage()"  id="fs" ></div>
    <span>购物车（<i id="card_num">22</i>）</span> <span class="bill warp_Rg">编辑</span>
  </div>

    <div class="position" style=" height: 44px;"></div>
  <!--商品区--> 
  <!--整体遮罩-->
  <div class="shoppingCart_black"></div>
  <div class="shoppingCart_wareArea">
    <!--头部店铺选择-->
    <div class="shoppingCart_wareStore">
      <div class="choose"></div>
      <span class="warp_Lt">店铺名</span>
      <div class="quiet"></div>
      <span class="warp_Rg edit" >编辑</span> </div>
    <!--商品属性展示修改区-->
    <div class="shoppingCart_wareDetails">
      <div class="shoppingCart_wareDetailTxt">
        <div class="print"></div>
        <div class="shoppingCart_wareTxt"> <span class="warp_lC">控油极男水油平衡套装男士护肤品套装控油极男水油平衡套装控油极男水油平衡套装男士护肤品套装控油极男水油平衡套装</span> <span style="color: #cccccc;">颜色分类：黑色</span>
          <div class="shoppingCart_price"> <span class="warp_Lt" style="margin-top: 2px;margin-right: 10px">￥</span> <span style="font-size:1.25rem;" class="warp_Lt">40.00</span> <span class="warp_Rg" style="color: #000">X1</span> </div>
        </div>
        <!--数量属性编辑区-->
        <div class="shoppingCart_wareEditArea">
          <div class="shoppingCart_wareContent warp_Lt">
            <div class="shoppingCart_digitalAddition">
              <div class="minus warp_Lt"></div>
              <div class="number">11</div>
              <div class="plus warp_Rg"></div>
            </div>
            <div class="shoppingCart_digitalAddition lib" style="border:0;"> <span style="color: #cccccc">颜色分类：黑色</span>
              <div class="down warp_Rg"></div>
            </div>
          </div>
          <div class="shoppingCart_wareDel warp_Rg"><span>删除</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="shoppingCart_wareArea "> 
    <!--头部店铺选择-->
    <div class="shoppingCart_wareStore">
      <div class="choose"></div>
      <span class="warp_Lt">店铺名</span>
      <div class="quiet"></div>
      <span class="warp_Rg edit" >编辑</span> </div>
    <!--商品属性展示修改区-->
    <div class="shoppingCart_wareDetails">
      <div class="shoppingCart_wareDetailTxt">
        <div class="print"></div>
        <div class="shoppingCart_wareTxt"> <span class="warp_lC">控油极男水油平衡套装男士护肤品套装控油极男水油平衡套装控油极男水油平衡套装男士护肤品套装控油极男水油平衡套装</span> <span style="color: #cccccc;">颜色分类：黑色</span>
          <div class="shoppingCart_price"> <span class="warp_Lt" style="margin-top: 2px;margin-right: 10px">￥</span> <span style="font-size:1.25rem;" class="warp_Lt">40.00</span> <span class="warp_Rg" style="color: #000">X1</span> </div>
        </div>
        <!--数量属性编辑区-->
        <div class="shoppingCart_wareEditArea">
          <div class="shoppingCart_wareContent warp_Lt">
            <div class="shoppingCart_digitalAddition">
              <div class="minus warp_Lt"></div>
              <div class="number">11</div>
              <div class="plus warp_Rg"></div>
            </div>
            <div class="shoppingCart_digitalAddition lib" style="border:0;"> <span style="color: #cccccc">颜色分类：黑色</span>
              <div class="down warp_Rg"></div>
            </div>
          </div>
          <div class="shoppingCart_wareDel warp_Rg"><span>删除</span></div>
        </div>
      </div>
    </div>
  </div>
  
  <!--结算-->
  <div class="shoppingCart_balanceAccounts">
    <div class="shoppingCart_balanceCount warp_Lt">
      <div class="checkAll"></div>
      <span style="font-size: 1rem;">全选</span> <span class="warp_Rg">合计: <span style="color: #e60012">￥1000</span> <span style="color: #ccc">（不含运费）</span></span> </div>
    <div class="shoppingCart_count warp_Rg">结算（1）</div>
  </div>
  <!--属性编辑区-->
  <div class="shoppingCart_properties">
    <div class="properties_top">
      <div class="header"></div>
      <div class="a"> <span class="arrange">控油极男水油平衡套装男士护肤品套装控油极男水油平衡套装</span> <span>库存：10件</span> <span style="color: #666">顏色</span> </div>
    </div>
    <div class="shoppingCart_quality">
      <div class="shoppingCart_qualityArea">
        <div class="shoppingCart_qualityTop">颜色</div>
        <div class="shoppingCart_qualityBtn">
          <div class="area unchecked">白色</div>
        </div>
        <div class="shoppingCart_qualityBtn">
          <div class="area ">红色</div>
        </div>
        <div class="shoppingCart_qualityBtn">
          <div class="area">蓝色</div>
        </div>
        <div class="shoppingCart_qualityBtn">
          <div class="area">绿色</div>
        </div>
        <div class="shoppingCart_qualityBtn">
          <div class="area">青色</div>
        </div>
      </div>
      <div class="shoppingCart_qualityArea">
        <div class="shoppingCart_qualityTop">颜色</div>
        <div class="shoppingCart_qualityBtn">
          <div class="area unchecked">白色</div>
        </div>
        <div class="shoppingCart_qualityBtn">
          <div class="area ">红色</div>
        </div>
        <div class="shoppingCart_qualityBtn">
          <div class="area">蓝色</div>
        </div>
        <div class="shoppingCart_qualityBtn">
          <div class="area">绿色</div>
        </div>
        <div class="shoppingCart_qualityBtn">
          <div class="area">青色</div>
        </div>
      </div>
    </div>
    <div class="shoppingCart_number"> <span class="warp_Lt">数量</span>
      <div class="number warp_Rg">
        <div class="symbol min" style="font-size: 12px;">—</div>
        <div class="symbol warp_Lt num" style="font-size: 12px;">1</div>
        <div class="symbol mix" style="font-size: 14px;">＋</div>
      </div>
    </div>
  </div>
  <div class="shoppingCart_check">确定</div>
</div>

