
<div class="store_warp">
    <div class="store_top"><div class="end"  onclick="backPage()"></div>店铺介绍</div>
    <div class="shopIntroduction_nav">
        <div class="shopIntroduction_nav_logo"></div>
        <span>与花说旗舰店</span></br>
        <span>我的店铺身份：联创</span>
        <div class="shopIntroduction_nav_btn">收藏</div>
    </div>
    <div class="shopIntroduction_aside">
        <div class="shopIntroduction_aside_comment"><span style="float: left;width: 30%">好评率</span> <span style="float: right;width: 70%">100%</span></div>
        <div class="shopIntroduction_aside_comment"><span style="float: left;width: 30%">所在地 </span><span style="float: right;width: 70%">100%</span></div>
        <div class="shopIntroduction_aside_comment"><span style="float: left;width: 30%">开店时间</span> <span style="float: right;width: 70%">2017.1.09</span></div>
    </div>
    <div class="shopIntroduction_aside" >
        <div class="shopIntroduction_aside_comment">
            <span style="float: left;width: 30%">描述相符</span>
            <span style="float: left;width: 30%">9.9</span>
            <span style="float:left;width: 40%">高于同行10%</span>
        </div>
        <div class="shopIntroduction_aside_comment">
            <span style="float: left;width: 30%">服务态度</span>
            <span style="float: left;width: 30%">9.9</span>
            <span style="float:left;width: 40%">高于同行10%</span>
        </div>
        <div class="shopIntroduction_aside_comment">
            <span style="float: left;width: 30%">物流服务</span>
            <span style="float: left;width: 30%">9.9</span>
            <span style="float:left;width: 40%">高于同行10%</span>
        </div>
    </div>
    <div class="shopIntroduction_aside" style="height: 55px;">
        <div class="shopIntroduction_aside_comment"><span style="float: left;width: 30%">掌柜名</span> <span style="float: right;width: 70%">掌柜名</span></div>
        <div class="shopIntroduction_aside_comment"><span style="float: left;width: 30%">服务电话 </span><span style="float: left;width: 30%">服务电话</span><div class="comment_tel"></div></div>
    </div>
    <div class="shopIntroduction_area">
        <div class="shopIntroduction_area_top">品牌介绍</div>
        <img src="images/store/introduce.png" alt=""/>
    </div>
</div>
