
	<!--<div class="distributionHead">店铺分销</div>-->

	<!-- 头部 -->
	<div class="mmTop">
		<div class="return" onclick="backPage()"></div>
		店铺分销
	</div>

	<div class="position" style=" height:44px;"></div>

	<div class="storeTotal">店铺总数：22</div>

	<div class="storeList">
		<div class="sdList">
			<div class="storeLogo"></div>
			<div class="sdContent ui_btn" data-action="goInStoreDetails">
				<div class="storeName">与花说店铺</div>
				<div class="sdStoreIntroduce">
					<div class="identity">店铺身份：联创</div>
					<div class="sdTime">2017.01.02</div>
				</div>
			</div>
			<div class="commissionPrompt">分佣总计</div>
			<div class="commission">￥300</div>
		</div>

		<div class="sdList">
			<div class="storeLogo"></div>
			<div class="sdContent">
				<div class="storeName">与花说店铺</div>
				<div class="sdStoreIntroduce">
					<div class="identity">店铺身份：联创</div>
					<div class="sdTime">2017.01.02</div>
				</div>
			</div>
			<div class="commissionPrompt">分佣总计</div>
			<div class="commission">￥300</div>
		</div>

		<div class="sdList">
			<div class="storeLogo"></div>
			<div class="sdContent">
				<div class="storeName">与花说店铺</div>
				<div class="sdStoreIntroduce">
					<div class="identity">店铺身份：联创</div>
					<div class="sdTime">2017.01.02</div>
				</div>
			</div>
			<div class="commissionPrompt">分佣总计</div>
			<div class="commission">￥300</div>
		</div>

		<div class="sdList">
			<div class="storeLogo"></div>
			<div class="sdContent">
				<div class="storeName">与花说店铺</div>
				<div class="sdStoreIntroduce">
					<div class="identity">店铺身份：联创</div>
					<div class="sdTime">2017.01.02</div>
				</div>
			</div>
			<div class="commissionPrompt">分佣总计</div>
			<div class="commission">￥300</div>
		</div>
		
	</div>

	<!--<script type="text/javascript" src="js/tool/jquery-1.11.3.min.js"></script>-->
	<!--<script type="text/javascript" src="js/storeDistribution.js"></script>-->
