
<!-- 店招 -->
	<div class="shopHead" id="shopHead">
		<div class="shopHead_top">
			<div class="back" onclick="backPage()"></div>
			<div class="search">
				<input type="text" name="" placeholder="商品">
				<div class="search_r"></div>
			</div>
			<div class="more moreClose" id="more">
				<span class="moreClose"></span>
				<span class="moreClose"></span>
				<span class="moreClose"></span>
			</div>

		</div>
		<div class="shopSigns"  id="shopSigns">
			<div class="shopSigns_left">
				<div class="sdbLogo"></div>
				<div class="shopName">
					<div class="name">与花旗舰店</div>
					<div class="identity">我的店铺身份：联创</div>
				</div>
			</div>
			<div class="shopSigns_right">
				<div class="collection">收藏</div>
			</div>
		</div>
		<!-- 导航 -->
		<div class="new" id="sDNew" data-state="hide">
			<div class="list" style="position: relative; height: 5px;">
				<div class="triangle-down"></div>
			</div>
			<div class="list ui_btn" data-action="com_index" style="background-image: url(images/new/homePage.png); background-color: #666;">首页</div>
			<div class="list ui_btn" data-action="com_customer" style="background-image: url(images/new/homePage.png); background-color: #666;">客服</div>
			<div class="list ui_btn" data-action="com_mine" style="background-image: url(images/new/homePage.png); background-color: #666;">我的</div>
			<div class="list ui_btn" data-action="com_dianpu" style="background-image: url(images/new/homePage.png); background-color: #666;">店铺简介</div>
			<div class="list" id="newShare" style="background-image: url(images/new/homePage.png); background-color: #666666; border-bottom: 0px;" >分享</div>
		</div>
		<!-- 导航 -->
	</div>
<!-- 店招 -->

<!-- 轮播 -->
	<div class="crousel">
		<a href="javascript:;"><img src="images/storeDetails/pic_one.png"></a>
		<a href="javascript:;"><img src="images/storeDetails/pic_T.png"></a>
		<a href="javascript:;"><img src="images/storeDetails/pic_d.png"></a>
		<a href="javascript:;"><img src="images/storeDetails/pic_w.png"></a>
	</div>
<!-- 轮播 -->

<!-- 购买 -->
	<div class="sdbTitle">合伙人（可更改）</div>
	<div class="become">
		<div class="becomeLeft ui_btn" data-action="link_lc" id="aa">成为联创</div>
		<div class="becomeRight ui_btn" data-action="link_zd">成为总代</div>
	</div>
<!-- 购买 -->

<!-- 产品 -->
	<div class="sdbTitle">我的产品</div>
	<div style="position: relative;width:100%;overflow: hidden;">
		<div class="productArea">

			<div class="product">
				<div class="pic">
					<img src="images/storeDetails/sp.png">
				</div>
				<div class="content">
					<div class="contentTitle">水嫩焕颜滋养手膜</div>
					<div class="contentIntroduce">【与花说】与花说与花说与花说与花说与花说与...</div>
					<div class="contentPrice"><span>￥</span>40.00</div>
				</div>
			</div>

			<div class="product">
				<div class="pic">
					<img src="images/storeDetails/sp.png">
				</div>
				<div class="content">
					<div class="contentTitle">水嫩焕颜滋养手膜</div>
					<div class="contentIntroduce">【与花说】与花说与花说与花说与花说与花说与...</div>
					<div class="contentPrice"><span>￥</span>40.00</div>
				</div>
			</div>

			<div class="product">
				<div class="pic">
					<img src="images/storeDetails/sp.png">
				</div>
				<div class="content">
					<div class="contentTitle">水嫩焕颜滋养手膜</div>
					<div class="contentIntroduce">【与花说】与花说与花说与花说与花说与花说与...</div>
					<div class="contentPrice"><span>￥</span>40.00</div>
				</div>
			</div>

			<div class="product">
				<div class="pic">
					<img src="images/storeDetails/sp.png">
				</div>
				<div class="content">
					<div class="contentTitle">水嫩焕颜滋养手膜</div>
					<div class="contentIntroduce">【与花说】与花说与花说与花说与花说与花说与...</div>
					<div class="contentPrice"><span>￥</span>40.00</div>
				</div>
			</div>

			<div class="product">
				<div class="pic">
					<img src="images/storeDetails/sp.png">
				</div>
				<div class="content">
					<div class="contentTitle">水嫩焕颜滋养手膜</div>
					<div class="contentIntroduce">【与花说】与花说与花说与花说与花说与花说与...</div>
					<div class="contentPrice"><span>￥</span>40.00</div>
				</div>
			</div>

			<div class="product">
				<div class="pic">
					<img src="images/storeDetails/sp.png">
				</div>
				<div class="content">
					<div class="contentTitle">水嫩焕颜滋养手膜</div>
					<div class="contentIntroduce">【与花说】与花说与花说与花说与花说与花说与...</div>
					<div class="contentPrice"><span>￥</span>40.00</div>
				</div>
			</div>


		</div>
	</div>
<!-- 产品 -->

<!-- 查看所有 -->
		<div class="see clearFloat">查看所有宝贝</div>
<!-- 查看所有 -->
	
<!-- 窗口底部 -->
	<div class="windowBottom" id="windowBottom">
		<div class="windowBottomLeft" style="">宝贝分类</div>
		<div class="line"></div>
		<a href="tel:183291992010" style="color: #fff;"><div class="windowBottomRight">联系卖家</div></a>
	</div>
<!-- 窗口底部 -->


<!-- 分享 -->
	<div class="share" id="shareShowT" style="display: none;">
		<div class="shareMethod">
			<div class="shTop">
				<div class="shareTitle">分享</div>
				<div class="shareLogo">
					<div class="shareLogoFrame" style=" margin-left: 0px;">
						<div class="pic"></div>
						<span>复制链接</span>
					</div>
					<div class="shareLogoFrame ui_btn" data-action="partake">
						<div class="pic"></div>
						<span>分享长图</span>
					</div>
					<div class="shareLogoFrame ui_btn" data-action="sweepTheFace">
						<div class="pic"></div>
						<span>当面扫码</span>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="shareLogoFrame" style=" margin-left: 0px;">
					<div class="pic"></div>
					<span>QQ</span>
				</div>
				<div class="shareLogoFrame">
					<div class="pic"></div>
					<span>微信</span>
				</div>				
			</div>
		</div>
		<div class="cancel" id="bgCancel">取消</div>
	</div>
<!-- 分享 -->

<!-- 遮罩 -->
	<div class="bgMask" id="bgMask" style="display: none;"></div>
<!-- 遮罩 -->

	<!--<script type="text/javascript" src="js/tool/jquery-1.11.3.min.js"></script>-->
	<!--<script type="text/javascript" src="js/storeDetails.js"></script>-->
	<!--<script type="text/javascript">-->


  <!-- -->
	<!--</script>-->
