
<div class="mine_warp">
    <!--头部-->
    <div class="store_top" >
        <div class="end" onclick="backPage()"  id="fs" ></div>
        <span>订单详情</span>
    </div>
    <!--标题-->
    <div class="orderDetails_headline mT">
        <p>等待卖家发货</p>
        <span>72小时倒计时</span>
        <div class="headline_ico"><img src="images/individual/wait.png" alt=""/></div>
    </div>
    <!--物流信息-->
    <div class="orderDetails_logistics">
        <div class="insurance warp_Lt"></div>
        <div class="logisticsArea bB">
            <p class="warp_Lt" style="margin-bottom:3px;color:#EB6100;width: 93%">[杭州市]已签收，感谢使用顺丰，期待再次为您服务， 感谢使用顺丰速运，期待再次为您服务</p>
            <div class="skip"></div>
            <span style="color: #CCCCCC">2017-05-09 09:59:00</span>
        </div>
        <div class="logisticsArea">
            <p style="margin-bottom:4px;">收货人：<span class="warp_Rg">112345345</span></p>
            <span style="height: 20px;"class="warp_Lt">收货地址：</span><p>浙江省 杭州市 拱墅区 祥符街道 新文路 33-2号楼天堂e谷3号楼411</p>
        </div>
    </div>
    <!--待收货-->
    <div class="pendingReceipt">
        <div class="shoppingCart_wareArea">
            <!--头部店铺选择-->
            <div class="shoppingCart_wareStore">
                <div class="shop"></div>
                <span class="warp_Lt">店铺名</span>
                <div class="quiet"></div>
                <span class="warp_Rg myOrder_reveal" >卖家已发货</span> </div>
            <!--商品属性展示区-->
            <div class="shoppingCart_wareDetails">
                <div class="shoppingCart_wareDetailTxt">
                    <div class="print"></div>
                    <div class="shoppingCart_wareTxt">
                        <div class="myOrder_revealArea warp_Lt">
                            <span class="warp_lC" style="height: 30px;">控油极男水油平衡套装男士护肤品套装控油极男水油平衡套</span>
                            <span style="color: #cccccc;display: block">颜色分类：黑色</span>
                            <div class="myOrder_quality">七天包退</div>
                        </div>
                        <div class="myOrder_reverlAreaL warp_Rg">
                            <span style="color:#E60012">￥40.00</span>
                            <span style="text-decoration:line-through;">￥40.00</span>
                            <br/><br/>
                            <span>X1</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--结算区-->
            <div class="myOrder_settlementArea breadth" style="padding-top: 3px;height: 35px;background-color: #f7f7f7">
                <div class="settlementBtn warp_Rg" style="background-color: #fff">退款</div>
            </div>
            <div class="myOrder_freight bB" style="padding-left: 10%;padding-right: 3%;color: #333">
                <p>运费险<span style="font-size: .875rem;" class="warp_Rg">¥0.00</span></p>
                <p style="margin-top: 3px;">实付（含运费）<span class="warp_Rg" style="color: #EB6100">￥<span style="font-size: .9375rem">40.00</span></span></p>
            </div>

        </div>

    </div>
    <!--单号时间-->
    <div class="orderDetails_numbers">
        <span>订单编号：6789987654</span>
        <span>支付宝交易号：3456789009876543456</span>
        <span>创建时间：2017-05-09 16:15:56</span>
        <span>付款时间：2017-05-09 16:15:56</span>
        <span>发货时间：2017-05-09 16:15:56</span>
        <span>成交时间：2017-05-09 16:15:56</span>
    </div>
</div>
<div class="orderDetails_foot breadth bT">
    <div class="footBtn warp_Rg">提醒发货</div>
</div>

<!--<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>-->
<!--<script type="text/javascript">-->
<!--</script>-->
