
<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>验证码
    </div>
    <div class="resetting grayMt bT bB" style="height: 65px;padding-top: 10px;">
        <span>我们已经发送 <span style="font-size: 1rem;color: #333; display:inline;font-weight: bold"> 验证码 </span><span style="display:inline ">短信到您到邮箱</span></span>
        <span id="email"></span>
    </div>
    <div class="passwordCode_import" id="passwordCode_import" style="height:inherit">
        <input type="text" id="new_yanss" style="    display: block;
    height: 60px;
    width: 100%;
    background: #fff;
    border: 1px solid #fff;
    text-align: center;
    font-size: 20px;
    margin-top:40px;" placeholder="请输入验证码">
    </div>
    <input type="button" value="提交" id="subBtne" style="display: block;
    width: 50%;
    margin:20px auto;height:30px;" class="ui_btn" data-action="subBtne">
    <div class="caution " style="text-align: center;"><span>收不到验证短信？<span class="ui_btn" style="color:#007cc3" data-action="setTime">重新获取</span> </span></div>
</div>
</body>
