
<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>验证码
    </div>
    <div class="resetting grayMt bT bB" style="height: 65px;padding-top: 10px;">
        <span>我们已经发送 <span style="font-size: 1rem;color: #333; display:inline;font-weight: bold"> 验证码 </span><span style="display:inline ">短信到您到手机</span></span>
        <span>+86 137****0789</span>
    </div>
    <div class="passwordCode_import" id="passwordCode_import">
        <div class="codeImport warp_Lt ">
            <input type="text" class="codeImport_area bB changeCode"  maxlength="1"/>
        </div>
        <div class="codeImport warp_Lt">
            <input type="text" class="codeImport_area bB"  maxlength="1"/>
        </div>
        <div class="codeImport warp_Lt">
            <input type="text" class="codeImport_area bB"  maxlength="1"/>
        </div>
        <div class="codeImport warp_Lt">
            <input type="text" class="codeImport_area bB" maxlength="1" />
        </div>
        <div class="caution "><span>收不到验证短信？<span class="ui_btn" style="color:#007cc3" data-action="setTime">重新获取</span> </span></div>
    </div>
</div>
<!--<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>-->
<!--<script>-->
    <!--$(".codeImport_area").focus();-->
    <!--onload = function(){-->
        <!--var txts = passwordCode_import.getElementsByTagName("input");-->
        <!--for(var i = 0; i<txts.length;i++){-->
            <!--var t = txts[i];-->
            <!--t.index = i;-->
            <!--t.setAttribute("readonly", true);-->

            <!--t.onkeyup=function(){-->
                <!--if(this.value=this.value.replace(/\D/g,'')) {-->
                    <!--var next = this.index + 1;-->
                    <!--if(next > txts.length - 1) return;-->
                    <!--txts[next].removeAttribute("readonly");-->
                    <!--txts[next].focus();-->
                    <!--$(this).addClass("changeCode");-->
                <!--}else{-->
                    <!--$(this).focus();-->
                <!--}-->
            <!--}-->
        <!--}-->
        <!--txts[0].removeAttribute("readonly");}-->
    <!--$(".codeImport_area").click(function(){-->
        <!--if($(this).focus())-->
        <!--$(this).parent().parent(".passwordCode_import").find(".codeImport_area").removeClass("changeCode");-->
        <!--$(this).addClass("changeCode");-->
    <!--})-->
<!--</script>-->
