
<div class="mine_warp">
    <!--头部-->
    <div class="store_top" onclick="backPage()" >
        <div class="end"  id="fs" ></div>
        <span>查看物流</span>
    </div>
    <!--查看区域-->
    <div class="viewLogistics_Viewing breadth bB mT" >
        <div class="viewingPic warp_Lt">
            <div class="pic"></div>
        </div>
        <div class="viewingTxt">
            <p>物流状态：<span style="color:#638C0B ">已签收</span></p>
            <p class="txt">承运来源：顺丰速运</p>
            <p class="txt">运单编号：456789232</p>
            <p>官方电话：<span style="color:#007CC3;">95338</span></p>
        </div>
    </div>
    <!--详情区-->
    <div class="viewLogistics_details breadth bT bB">
        <div class="details_imgArea warp_Lt">
            <div class="selectedToBrn"></div>
            <div class="toBtn"></div>
            <div class="toBtn"></div>
        </div>
        <div class="details_txtArea">
            <div class="details_area">
                <p>[丰巢自提柜]已签收，签收人凭取货码签收。感谢 使用ZJ易购大厦一号楼丰巢【自提柜】，期待再次 为您服务。</p>
                <p>2017-05-01 10:09:33</p>
            </div>
            <div class="details_area">
                <p>[丰巢自提柜]已签收，签收人凭取货码签收。感谢 使用ZJ易购大厦一号楼丰巢【自提柜】，期待再次 为您服务。</p>
                <p>2017-05-01 10:09:33</p>
            </div>
            <div class="details_area">
                <p>[丰巢自提柜]已签收，签收人凭取货码签收。感谢 使用ZJ易购大厦一号楼丰巢【自提柜】，期待再次 为您服务。</p>
                <p>2017-05-01 10:09:33</p>
            </div>
        </div>

    </div>
</div>
