
<div class="recharge_warp">
    <div class="recharge_top">
        <div class="end" onclick="backPage()"></div>
        提现
    </div>
    <div class="withdraw_card breadth grayMt bT bB ui_btn" data-action="goInSelectBankCard">
        <div class="withdraw_log warp_Lt"></div>
        <p>中国银行</p>
        <span style="color: #ccc;font-size: .75rem">尾号2987 储蓄卡</span>
    </div>
    <div class="withdraw_money breadth bT bB">
        <p>尾号2987 储蓄卡 （收取0.1%服务费）</p>
        <div class="withdraw_enter bB">
            <span class="warp_Lt">¥</span>
            <input type="number" class="warp_Lt">
        </div>
        <p style="margin-top: 5px;">可用余额 12.89元 <span style="color:#FF0000">金额已超过可提现余额</span><span style="color:#007CC3" class="warp_Rg">全部提现</span></p>
    </div>
    <div class="withdraw_btn">
        两小时内到账，确认提现
    </div>
</div>
